<div class="card">
  <div class="card-header" id="heading-options-<%=sub.id%>">
    <h5 class="mb-0">
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-options-<%=sub.id%>" aria-expanded="true" aria-controls="collapse-options-<%=sub.id%>">
        <%= t('menu.options')%>
      </button>
    </h5>
  </div>
  <div id="collapse-options-<%=sub.id%>" class="collapse" aria-labelledby="heading-options-<%=sub.id%>" data-parent="#accordionExample-<%=sub.id%>">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="menu-description ml-3">
              <%=custom_list_options(sub.custom_lists, ['*'], sub.restaurant.currency_symbol).html_safe%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>