<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resturant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @resturant.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @resturant.postcode %>
</p>

<p>
  <strong>Is chain:</strong>
  <%= @resturant.is_chain %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @resturant.cuisine %>
</p>

<%= link_to 'Edit', edit_resturant_path(@resturant) %> |
<%= link_to 'Back', resturants_path %>
