    <h3 class=" pb-2 mb-0">Section</h3>

<%= form_with(model: [:manager, @restaurant, menu], local: true) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.hidden_field :restaurant_id, value: @restaurant.id %>
        <%= form.hidden_field :node_type, value: menu.node_type %>
    <%= hidden_field_tag :parent, params[:parent] %>

    <div class="row">
      <div class="col">
        <div class="form-group ">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control  form-control-sm' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group ">
          <%= form.label :position %>
          <%= form.number_field :position, class: 'form-control  form-control-sm' %>
        </div>
      </div>
    </div>

  <div class="actions">
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
