<%= form_with(model: [:manager, @restaurant, menu], local: true) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.hidden_field :restaurant_id, value: @restaurant.id %>
    <%= hidden_field_tag :parent, params[:parent] %>





  <div class="row">
    <div class="col">
      <div class="form-group ">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control  form-control-sm' %>
      </div>
    </div>
  </div>



  <% if params[:node_type]=='item' || @menu.node_type == 'item' %>

  <div class="row">
    <div class="col">
      <div class="form-group ">
        <%= form.label :description %>
        <%= form.text_area :description, class: 'form-control  form-control-sm' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h6>Categories</h6>

   

 <%= form.collection_check_boxes :menu_item_categorisation_ids, @menu_item_categorisations, :id, :icon do |b| %>
    <div class="collection-check-box">
      <%= b.check_box %>
      <i class="<%= b.text %>"> <%= b.object.name %></i>
    </div>
  <% end %>



    </div>



    <div class="col">
      <h6>Spice Level</h6>
      <% @spice_levels.each do |spice| %>
      <div class="form-check">
        <%= form.radio_button :spice_level_id, spice.id%>
        <%= form.label spice.name %>
      </div>
      <% end %>
     

    </div>

  </div>


  <div class="row">
    <div class="col">
      <div class="form-group ">&nbsp;
        <%# form.label :price_b %>
        <%#= form.number_field :price_b, class: 'form-control  form-control-sm', step: :any %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group ">
        <%= form.label :price %>
        <%= form.number_field :price_a, class: 'form-control  form-control-sm', step: :any %>
      </div>
    </div>
  </div>
<!--   <div class="row">
    <div class="col">
      <div class="form-group ">
        <%= form.label :prices %>
        <%#= form.text_field :prices, class: 'form-control  form-control-sm' %>
      </div>
    </div>
  </div>
 -->    <div class="row">
    <div class="col">
      <div class="form-group ">
        <%= form.label :available %>
        <%= form.check_box :available, class: 'form-control  form-control-sm' %>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col">
      <div class="form-group ">
        <%= form.label :calories %>
        <%= form.number_field :calories, class: 'form-control  form-control-sm' %>
      </div>
    </div>
  </div>

      <%= form.hidden_field :node_type, value: 'item' %>
  <% else%>
     

      <% if params[:node_type].present? %>
        <%= form.hidden_field(:node_type, value: params[:node_type])  %>

      <% else %>

        <% if params[:parent].blank? %>
          <%= form.hidden_field(:node_type, value: 'menu')  %>
        <% else %>
          <%= form.hidden_field(:node_type, value: 'section')  %>
        <% end %>

      <% end %>


  <% end %>

  <div class="actions">
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
