




<% Menu.sort_by_ancestry(@menus).each do |category| %>





<div class="row ">
  <div class="col-lg-2">
      <h3> <%= h(category.name) %></h3>
  </div>
  <div class="col-lg-5 text-center">  
    <%= link_to "Add Category to #{category.name}", new_manager_restaurant_menu_path(category.restaurant_id,  node_type: 'section',parent: category.id), class: "text-warning  menu-management-links" %> | 
    <%= link_to "New Item in #{category.name}", new_manager_restaurant_menu_path(category.restaurant_id, node_type: 'item', parent: category.id), class: "text-warning menu-management-links" %>  
  </div>
  <div class="col-lg-5 text-right">  
    <%= link_to edit_manager_restaurant_menu_path(category.restaurant_id, category.id, node_type: category.node_type, parent: category.id), class: "text-warning menu-management-links" do %><i class='fa fa-edit'></i> Edit<% end %> | 
    <%= link_to manager_restaurant_menu_path(category.restaurant_id, category.id), class: "text-warning menu-management-links", method: :delete,  "data-confirm" => 'Are you sure? This will remove all items and categories!' do %><i class='fa fa-trash'></i> Delete<% end %>
  </div>
</div>
<div class="row ">
  <div class="col">
    <% if category.children.present? %>
      <div id="submenu">
      	<ul class="menu">
          <%= render 'manager/menus/item', category: category, table: @table %>
      	</ul>
      </div>
    <% end %>
	</div>
</div>


 
<% end %>