



<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h3 class="border-bottom border-gray pb-2 mb-0"><%=@menu.name%></h3>



 
<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<% if @menu.node_type == 'item' %>

<% if @menu.image.attached? %>
<!-- @menu.image.present? will always return true, use attached? to check presence -->
  <p>
    <strong>Image:</strong>
    <br>
    <%= image_tag @menu.image.variant(resize: "200x200") %>
    <%#= image_tag @menu.image %>
  </p>
<% end %>


<p>
  <strong>Description:</strong>
  <%= @menu.description %>
</p>


<p>
  <strong>Spice level:</strong>
  <%= @menu.spice_level_name %>
</p>

<p>
  <strong>Menu item categorisation:</strong>
  <% @menu.menu_item_categorisation.each do |category| %>
    <i class="<%= category.icon %>"> <%= category.name %></i>
  <% end %>
</p>

<p>
  <strong>Prices:</strong>


  <%= @menu.prices_joined.map{|a| number_to_currency(a, unit: "£")}.join(" / ") if @menu.prices_joined%>
</p>

<p>
  <strong>Available:</strong>
  <%= @menu.available %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @menu.calories %>
</p>
<% end %>
<%= link_to 'Edit', edit_manager_restaurant_menu_path(@restaurant, @menu, node_type: @menu.node_type, updated_menu: params[:updated_menu]) %> |
<%= link_to 'Back', manager_restaurant_menus_path(@restaurant, updated_menu: params[:updated_menu]) %>


  </div>
</main>
