
<div class="row p-4">
<div class="col">


<h1>Item Screens</h1>

<table class="table">
  <thead>
    <tr>
      <th>Item screen type</th>
      <th>Printer</th>
      <th>Print On new</th>
      <th>Buzz on _new</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_screens.each do |item_screen| %>
      <tr>
        <td><%= item_screen.item_screen_type_name %></td>
        <td><%= item_screen.printer_name %></td>
        <td><%= item_screen.on_new %></td>
        <td><%= item_screen.buzz_on_new%></td>
        <td><%= link_to 'Edit', edit_manager_restaurant_item_screen_path(@restaurant, item_screen) %></td>
        <td><%= link_to 'Destroy', manager_restaurant_item_screen_path(@restaurant, item_screen), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item Screen', new_manager_restaurant_item_screen_path(@restaurant) %>
</div></div>