
<%= form_with(model: [:manager, restaurant], local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :restaurant_user_id %>
        


<!-- Tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="finance-tab" data-toggle="tab" href="#finance" role="tab" aria-controls="finance" aria-selected="false">Finance</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="styling-tab" data-toggle="tab" href="#styling" role="tab" aria-controls="styling" aria-selected="false">Styling</a>
  </li>
</ul>
<!-- /Tabs -->

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  <!-- Home -->
  <div class="row">
    <div class="col">
      <div class="form-group ">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control  form-control-sm' %>
      </div>
    </div>
  </div>
 <div class="row">
      <div class="col">
        <div class="form-group ">
          <%= form.label :image %>
          <%= form.file_field :image %>
        </div>
      </div>
      <div class="col">
        <div class="form-group ">
           <% if restaurant.image.attached? %>
              <%= image_tag restaurant.image.variant(resize: "200x200"), class: "img-fluid"  %>
            <% end %>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col">
      <div class="form-group ">
        <%= form.label :address %>
        <%= form.text_field :address, class: 'form-control  form-control-sm' %>
      </div>
    </div>
    <div class="col">
      <div class="form-group ">
        <%= form.label :postcode %>
        <%= form.text_field :postcode, class: 'form-control  form-control-sm' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <div class="form-group ">
    <%= form.label :telephone %>
    <%= form.text_field :telephone, class: 'form-control  form-control-sm' %>
  </div>
    </div>
    <div class="col">
      <div class="form-group ">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control  form-control-sm' %>
  </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <div class="form-group ">
    <%= form.label :facebook %>
    <%= form.text_field :facebook, class: 'form-control  form-control-sm' %>
  </div>
    </div>
    <div class="col">
       <div class="form-group ">
    <%= form.label :twitter %>
    <%= form.text_field :twitter, class: 'form-control  form-control-sm' %>
  </div>
    </div>
  </div>



  <div class="row">
    <div class="col">
      <div class="form-group ">
        <%= form.label :cuisine_id %>
        <%= form.select :cuisine_id,  options_for_select(@cuisines.map{|a| [a.name, a.id]}, restaurant.cuisine_id ), {prompt: "Choose cuisine"}, {class: 'form-control  form-control-sm'} %>
      </div>
    </div>
  </div>


  <!-- Home -->
  </div>
  <div class="tab-pane fade" id="finance" role="tabpanel" aria-labelledby="finance-tab">
  <!-- Finance -->

  <div class="row">
    <div class="col">
      <h3>Stripe</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <div class="form-group ">
          <%= form.label :stripe_api_key %>
          <%= form.text_field :stripe_api_key, class: 'form-control  form-control-sm', rows: 10  %>
        </div>
      </div>

  </div>

  <div class="row">
    <div class="col">
        <div class="form-group ">
          <%= form.label :stripe_publish_api_key %>
          <%= form.text_field :stripe_publish_api_key, class: 'form-control  form-control-sm', rows: 10  %>
        </div>
      </div>

  </div>

  <!-- Finance -->
  </div>
  <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
  <!-- Settings -->
  <div class="row">
    <div class="col">
      <div class="form-group ">
        <%= form.label :path %>
        <%= form.text_field :path, class: 'form-control  form-control-sm' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <div class="form-group ">
          <%= form.label :delay_time_minutes %>
          <%= form.text_field :delay_time_minutes, class: 'form-control  form-control-sm', rows: 10  %>
        </div>
      </div>
  </div>

 <div class="row">
    <div class="col">
      <div class="form-group ">
      <label for="restaurant_show_on_homepage">Show on eat.emenunow.com homepage</label>

        <%= form.check_box :show_on_homepage, class: 'form-control  form-control-sm' %>
      </div>
    </div>
  </div>


  <!-- Settings -->
  </div>
  <div class="tab-pane fade" id="styling" role="tabpanel" aria-labelledby="styling-tab">
  <!-- Styling -->


  <div class="row">
    <div class="col">
      <h3>Custom Font</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <div class="form-group ">
          <%= form.label :css_font_url %>
          <%= form.text_field :css_font_url, class: 'form-control  form-control-sm' %>
        </div>
      </div>
    <div class="col">
      <div class="form-group ">
        <%= form.label :css_font_class %>
        <%= form.text_field :css_font_class, class: 'form-control  form-control-sm' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Custom CSS</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <div class="form-group ">
          <%= form.label :custom_css %>
          <%= form.text_area :custom_css, class: 'form-control  form-control-sm', rows: 10 %>
        </div>
      </div>

  </div>


  <div class="row">
    <div class="col">
      <h3>Custom Styles</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <div class="form-group ">
          <%= form.label :custom_styles %>
          <%= form.text_area :custom_styles, class: 'form-control  form-control-sm', rows: 10  %>
        </div>
      </div>

  </div>


  <!-- /Styling -->
  </div>
</div>


















  <div class="row">
    <div class="col">


  <div class="actions">
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
</div></div>
<% end %>
