
    <main role="main" class="container">


    
      <div class="row my-3 p-3 bg-white rounded shadow-sm">

      
          <div class="col-6">
                    <h1>Restaurant Details</h1>
          <% if @restaurant %>
              <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0  lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">Name</strong>
                  <%= @restaurant.name %>
                </p>
              </div>

              <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0  lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">Image</strong>
                  <% if @restaurant.image.attached? %>
                    <%= image_tag @restaurant.image.variant(resize: "200x200"), class: "img-fluid"  %>
                  <% end %>
                </p>
              </div>







              <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0  lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">Path</strong>
                  <%= @restaurant.path %>
                </p>
              </div>
              <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">Cuisine</strong>
                  <%= @restaurant.cuisine_name %>
                </p>
              </div>

              <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">Address</strong>
                  <%= @restaurant.address %>, <%= @restaurant.postcode %>
                </p>
              </div>
              <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">Telephone</strong>
                  <%= @restaurant.telephone %>
                </p>
              </div>
              <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">Email</strong>
                  <%= @restaurant.email %>
                </p>
              </div>
              <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">Social</strong>
                  <strong>Facebook: </strong><%= @restaurant.facebook.blank? ?  "Not supplied" : @restaurant.facebook%>, <strong>Twitter: </strong><%= @restaurant.twitter.blank? ?  "Not supplied" : @restaurant.twitter%>
                </p>
              </div>
              <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">Stripe API Key</strong>
                  <%= @restaurant.stripe_api_key %>
                </p>
              </div>
              <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">Stripe Publish API key</strong>
                  <%= @restaurant.stripe_publish_api_key %>
                </p>
              </div>
             <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">Delivery / Collection - Delay Time (minutes)</strong>
                  <%= @restaurant.delay_time_minutes %>
                </p>
              </div>






            <% end %>
          </div>
          <div class="col-6">


          <div class="row">
            <div class="col-sm">
              <ul>
                <h5>Assigned Features</h5>
              <% @restaurant.features.each do |feature|%>
                <div><%= link_to manager_restaurant_remove_feature_path(@restaurant.id, feature.id), method: :post do %>
                  <span class="badge badge-dark mr-1"><%=feature.name%></span><i class="fas fa-minus-square"></i><% end %></div>
              <% end %>
              </ul>
            </div>
            <div class="col-sm">
              <ul>
                <h5>Available Features</h5>
              <% @features.reject{|a| @restaurant.features.map{|b| b.id}.include?(a.id)}.each do |feature|%>
                <div><%= link_to manager_restaurant_add_feature_path(@restaurant.id, feature.id), method: :post  do %>
                  <span class="badge badge-dark mr-1"><%=feature.name%></span><i class="fas fa-plus-square"></i><% end %></div>
              <% end %>
              </ul>
            </div>
          </div>


          <div class="row">
            <div class="col-sm">
                <h5>Menu Template</h5>
                <div class="form-group">
                <%= form_tag manager_restaurant_add_template_path(@restaurant), method: :post do %>
                  <%= select_tag :template_id, options_for_select(@templates.map{|s| [s.name, s.id]}, @restaurant.template_ids), {prompt: 'Choose a template', class: 'form-control'}%>
                  <%= submit_tag nil, class: 'btn btn-primary mt-2' %>
                <% end %>
                <h3>Current Template: <%=@restaurant.template.map{|x| x.name}.join(' ')%></h3>
                
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm">
              <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">CSS Font URL</strong>
                  <%= @restaurant.css_font_url %>
                </p>
              </div>
              <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">CSS Font class</strong>
                  <%= @restaurant.css_font_class %>
                </p>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-sm">
              <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">Custom CSS</strong>
                  <%= @restaurant.custom_css %>
                </p>
              </div>
              <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">Custom Styles</strong>
                  <%= @restaurant.custom_styles %>
                </p>
              </div>
             



            </div>
          </div>


 

        </div>

        <div class="d-block text-right mt-3">
          <%= link_to("Add Restaurant", new_manager_restaurant_path) unless @restaurant %>
          <%= link_to("Edit Restaurant", edit_manager_restaurant_path(@restaurant)) if @restaurant%>
        </div>
      </div>

</main>