<main role="main">
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <% if @restaurant.image.attached? %>
      <%= image_tag @restaurant.image.variant(resize_and_pad: [200, 200]), class: "img-fluid"  %>
      <% end %>
      <h1 class=" text-dark">Restaurant configuration</h1>
      <p class="pt-3">
        <%= @restaurant.cuisine_name %> |
        <%= @restaurant.address %>, <%= @restaurant.postcode %> |
        <%= @restaurant.telephone %> |
        <%= @restaurant.email %> |
        <%= @restaurant.show_on_homepage ? "SEO Visible" : "SEO Hidden" %>
      </p>
      <p class="">
        Currency: <%= @restaurant.currency_name %> |
        Stripe Account: <%= @restaurant.stripe_connected_account_id %> |
        EMenu Commission: <%= @restaurant.commision_percentage %>% |
        Chargeback Protection: <%= @restaurant.stripe_chargeback_enabled ? "0.04% of sale" : "No" %>
      </p>
      <div class="row py-5">
        <div class="col-md mt-3">
          <%= link_to("Change the above details >", edit_manager_restaurant_path(@restaurant), class: "btn btn-primary") if @restaurant%>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="container text-center py-5">
  <% if @restaurant %>
  <!-- Tabs -->
  <ul class="nav nav-tabs d-inline-block text-center" id="myTab" role="tablist">
    <li class="nav-item d-inline-block text-center" role="presentation">
      <a class="nav-link active" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Feature Customisations</a>
    </li>
 <li class="nav-item d-inline-block text-center" role="presentation">
      <a class="nav-link" id="styling-tab" data-toggle="tab" href="#styling" role="tab" aria-controls="styling" aria-selected="false">Restaurant Branding</a>
    </li>
    <%
=begin%>
    <li class="nav-item d-inline-block text-center" role="presentation">
      <a class="nav-link" id="tracking-tab" data-toggle="tab" href="#tracking" role="tab" aria-controls="settings" aria-selected="false">Analytics</a>
    </li> 
<%
=end%>
  </ul>
  <!-- /Tabs -->
  <div class="tab-content container" id="myTabContent">
    <div class="card tab-pane fade show active py-3" id="settings" role="tabpanel" aria-labelledby="settings-tab">
      <!-- Settings -->
      <div class="row py-5">
        <div class="col-md mt-3">
          <p>Quickly enable or disable restaurant functionality</p>
        </div>
      </div>
      <div class="p-3 bg-white rounded">
        <div class="col-12 text-center">

          <% if params[:admin] == "true" %>

          <div class="row">
            <div class="col-sm">
              <h5>Services - Admin</h5>
              <ul class="switches d-inline-block">
              
              <% @features.each do |feature|%>

                <li class="my-3">
                  <%= check_box_tag dom_id(feature), feature.id, @restaurant.features.include?(feature), data: {
                                    remote: true,
                                    url: manager_restaurant_toggle_feature_path(@restaurant.id, feature.id),
                                    method: :post
                                    } %>
                  <label for="feature_<%= feature.id %>">
                    <span><%=feature.name%></span>
                    <span></span>
                  </label>
                </li>

              <% end %>

              </ul>

            </div>
          </div>

          <% else %>

          <div class="row">
            <div class="col-sm">
              <h5>Services</h5>
              <ul class="switches d-inline-block">
              
              <% @services.each do |feature|%>

                <li class="my-3">
                  <%= check_box_tag dom_id(feature), feature.id, @restaurant.features.include?(feature), data: {
                                    remote: true,
                                    url: manager_restaurant_toggle_feature_path(@restaurant.id, feature.id),
                                    method: :post
                                    } %>
                  <label for="feature_<%= feature.id %>">
                    <span><%=feature.name%></span>
                    <span></span>
                  </label>
                </li>

              <% end %>

              </ul>

            </div>
          </div>

          <% checkout_toggle = @features.where(key: 'checkout').first %>

          <div class="row">
            <div class="col-sm">
              <hr>
              <ul class="switches d-inline-block">
                <li class="my-3">
                  <%= check_box_tag dom_id(checkout_toggle), checkout_toggle.id, @restaurant.features.include?(checkout_toggle), data: {
                                    remote: true,
                                    url: manager_restaurant_toggle_feature_path(@restaurant.id, checkout_toggle.id),
                                    method: :post
                                    }, disabled: !@restaurant.subscription_enabled %>
                  <label for="feature_<%= checkout_toggle.id %>">
                    <span><%= checkout_toggle.name %> <small class="text-muted">(Accept orders & payments)</small></span>
                    <span></span>
                  </label>
                </li>
              </ul>

            </div>
          </div>
          
          <% end %>

          <!--<div class="row">
            <div class="col-sm">
              <h5>Menu Template</h5>
              <div class="form-group">
                <%= form_tag manager_restaurant_add_template_path(@restaurant), method: :post do %>
                <%= select_tag :template_id, options_for_select(@templates.map{|s| [s.name, s.id]}, @restaurant.template_ids), {prompt: 'Choose a template', class: 'form-control'}%>
                <%= submit_tag nil, class: 'btn btn-primary mt-2' %>
                <% end %>
                <h3>Current Template: <%=@restaurant.template.map{|x| x.name}.join(' ')%></h3>
              </div>
            </div>
          </div>-->


          <!--<div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0  lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">SEO enabled functionality (show restaurant on eat.emenunow.com homepage)</strong>
              <%= @restaurant.show_on_homepage ? "YES" : "NO" %>
            </p>
          </div>-->
        </div>
      </div>
      <!-- /Settings -->
    </div>
    <div class="card tab-pane fade show" id="tracking" role="tabpanel" aria-labelledby="tracking-tab">
      <!-- tracking -->
      <div class="row  p-3 bg-white rounded shadow-sm">
        <div class="col-12">
          <div class="media text-muted pt-3">
            <p class="card m-3 p-2 pb-3 mb-0 lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Facebook Pixels</strong>
              <%= @restaurant.facebook_pixel %>
            </p>
          </div>
          <div class="media text-muted pt-3">
            <p class="card m-3 p-2 pb-3 mb-0 lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Social</strong>
              <strong>Facebook: </strong><%= @restaurant.facebook.blank? ?  "Not supplied" : @restaurant.facebook%>, <strong>Twitter: </strong><%= @restaurant.twitter.blank? ?  "Not supplied" : @restaurant.twitter%>
            </p>
          </div>
        </div>
      </div>
      <!-- /tracking -->
    </div>
    <div class="card tab-pane fade show" id="styling" role="tabpanel" aria-labelledby="styling-tab">
      <!-- Styling -->
      <div class=" p-3 bg-white rounded shadow-sm">
        <div class="col-12">
          <div class="row py-5">
            <div class="col-sm-6">
              <div class="text-muted pt-3">
                <p class="pb-3 mb-0 lh-125 ">
                  <strong class="d-block text-gray-dark">Background Image</strong>
                  <%= @restaurant.background_image.attached? ? (image_tag @restaurant.background_image.variant(resize: "200x200"), class: "img-fluid") : "You have no image uploaded" %>
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="text-muted pt-3">
                <p class="pb-3 mb-0 lh-125 ">
                  <strong class="d-block text-gray-dark">Subtle Background Image</strong>
                  <%= @restaurant.subtle_background.present? && @restaurant.subtle_background != 'None' ? (image_tag "/background/#{@restaurant.subtle_background}.png", class: "img-fluid", width: '200') : "You have no image uploaded"  %>
                </p>
              </div>
            </div>
          </div>
          <div class="row py-5">
            <div class="col-md mt-3">
              <%= link_to("Change the above details >", edit_manager_restaurant_path(@restaurant), class: "btn btn-primary") if @restaurant%>
            </div>
          </div>
        </div>
      </div>
      <!-- /Styling -->
    </div>
  </div>
  <% end %>
</div>