<main role="main" class="container">


  <h1>Restaurant Details</h1>
  <% if @restaurant %>
  <!-- Tabs -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="finance-tab" data-toggle="tab" href="#finance" role="tab" aria-controls="finance" aria-selected="false">Finance</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tracking-tab" data-toggle="tab" href="#tracking" role="tab" aria-controls="settings" aria-selected="false">Tracking</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="styling-tab" data-toggle="tab" href="#styling" role="tab" aria-controls="styling" aria-selected="false">Styling</a>
    </li>
  </ul>
  <!-- /Tabs -->

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show " id="home" role="tabpanel" aria-labelledby="home-tab">
      <!-- Home -->
      <div class="row my-3 p-3 bg-white rounded shadow-sm">
        <div class="col-12">
          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0  lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">ID</strong>
              <small><%= @restaurant.id %></small>
            </p>
          </div>

          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0  lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Name</strong>
              <%= @restaurant.name %>
            </p>
          </div>

          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0  lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Image</strong>
              <% if @restaurant.image.attached? %>
              <%= image_tag @restaurant.image.variant(resize: "200x200"), class: "img-fluid"  %>
              <% end %>
            </p>
          </div>
          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Cuisine</strong>
              <%= @restaurant.cuisine_name %>
            </p>
          </div>

          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Address</strong>
              <%= @restaurant.address %>, <%= @restaurant.postcode %>
            </p>
          </div>
          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Telephone</strong>
              <%= @restaurant.telephone %>
            </p>
          </div>
          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Email</strong>
              <%= @restaurant.email %>
            </p>
          </div>
          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0  lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Path</strong>
              <%= @restaurant.path %>
            </p>
          </div>
        </div>
      </div>
      <!-- /Home -->
    </div>
    <div class="tab-pane fade show" id="finance" role="tabpanel" aria-labelledby="finance-tab">
      <!-- Finance -->
      <div class="row my-3 p-3 bg-white rounded shadow-sm">
        <div class="col-12">
          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Currency</strong>
              <%= @restaurant.currency_name %>
            </p>
          </div>
          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 lh-125">
              <strong class="d-block text-gray-dark">Stripe Connected <span class="badge badge-pill badge-<%= @account[:details_submitted] ? 'success' : 'warning' %>"><%= @account[:details_submitted] ? 'Complete' : 'Incomplete' %></span></strong>
            </p>
          </div>
          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Stripe Payments <span class="badge badge-pill badge-<%= @account[:charges_enabled] ? 'success' : 'warning' %>"><%= @account[:charges_enabled] ? 'Enabled' : 'Disabled' %></span></strong>
            </p>
          </div>
          <div class="media text-muted pt-3 d-none">
            <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Stripe API Key</strong>
              <%= @restaurant.stripe_api_key %>
            </p>
          </div>
          <div class="media text-muted pt-3 d-none">
            <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Stripe Publish API key</strong>
              <%= @restaurant.stripe_publish_api_key %>
            </p>
          </div>
          <div class="media text-muted pt-3 d-none">
            <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Stripe Connected Account ID</strong>
              <%= @restaurant.stripe_connected_account_id %>
            </p>
          </div>
          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Commission percentage e.g. 1.5</strong>
              <%= @restaurant.commision_percentage %>
            </p>
          </div>
        </div>
      </div>
      <!-- /Finance -->
    </div>
    <div class="tab-pane fade show active" id="settings" role="tabpanel" aria-labelledby="settings-tab">
      <!-- Settings -->
      <div class="row my-3 p-3 bg-white rounded shadow-sm">
        <div class="col-12">

          <div class="row">
            <div class="col-sm">
              <h5>Services</h5>
              <ul class="switches">
              
              <% @services.each do |feature|%>

                <li class="my-3">
                  <%= check_box_tag dom_id(feature), feature.id, @restaurant.features.include?(feature), data: {
                                    remote: true,
                                    url: manager_restaurant_toggle_feature_path(@restaurant.id, feature.id),
                                    method: :post
                                    } %>
                  <label for="feature_<%= feature.id %>">
                    <span><%=feature.name%></span>
                    <span></span>
                  </label>
                </li>

              <% end %>

              </ul>

            </div>
          </div>
          
          <% if params[:admin] == "true" %>

            <div class="row">
              <div class="col-sm">
                <ul>
                  <h5>Assigned Features</h5>
                  <% @restaurant.features.each do |feature|%>
                  <div><%= link_to manager_restaurant_remove_feature_path(@restaurant.id, feature.id), method: :post do %>
                    <span class="badge badge-dark mr-1"><%=feature.name%></span><i class="fas fa-minus-square"></i><% end %></div>
                  <% end %>
                </ul>
              </div>
              <div class="col-sm">
                <ul>
                  <h5>Available Features</h5>
                  <% @features.reject{|a| @restaurant.features.map{|b| b.id}.include?(a.id)}.each do |feature|%>
                  <div><%= link_to manager_restaurant_add_feature_path(@restaurant.id, feature.id), method: :post  do %>
                    <span class="badge badge-dark mr-1"><%=feature.name%></span><i class="fas fa-plus-square"></i><% end %></div>
                  <% end %>
                </ul>
              </div>
            </div>

          <% end %>

          <!--<div class="row">
            <div class="col-sm">
              <h5>Menu Template</h5>
              <div class="form-group">
                <%= form_tag manager_restaurant_add_template_path(@restaurant), method: :post do %>
                <%= select_tag :template_id, options_for_select(@templates.map{|s| [s.name, s.id]}, @restaurant.template_ids), {prompt: 'Choose a template', class: 'form-control'}%>
                <%= submit_tag nil, class: 'btn btn-primary mt-2' %>
                <% end %>
                <h3>Current Template: <%=@restaurant.template.map{|x| x.name}.join(' ')%></h3>

              </div>
            </div>
          </div>-->


          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0  lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Show on eat.emenunow.com homepage</strong>
              <%= @restaurant.show_on_homepage ? "YES" : "NO" %>
            </p>
          </div>



        </div>
      </div>
      <!-- /Settings -->
    </div>



    <div class="tab-pane fade show" id="tracking" role="tabpanel" aria-labelledby="tracking-tab">
      <!-- tracking -->
      <div class="row my-3 p-3 bg-white rounded shadow-sm">
        <div class="col-12">


          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Facebook Pixels</strong>
              <%= @restaurant.facebook_pixel %>
            </p>
          </div>
          <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">Social</strong>
              <strong>Facebook: </strong><%= @restaurant.facebook.blank? ?  "Not supplied" : @restaurant.facebook%>, <strong>Twitter: </strong><%= @restaurant.twitter.blank? ?  "Not supplied" : @restaurant.twitter%>
            </p>
          </div>



        </div>
      </div>
      <!-- /tracking -->
    </div>






    <div class="tab-pane fade show" id="styling" role="tabpanel" aria-labelledby="styling-tab">
      <!-- Styling -->
      <div class="row my-3 p-3 bg-white rounded shadow-sm">
        <div class="col-12">




          <div class="row border-bottom border-gray">
            <div class="col-sm-6">
              <div class="text-muted pt-3">
                <p class="pb-3 mb-0 lh-125 ">
                  <strong class="d-block text-gray-dark">Background Image</strong>
                  <%= image_tag @restaurant.background_image.variant(resize: "200x200"), class: "img-fluid" if @restaurant.background_image.attached?  %>
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="text-muted pt-3">
                <p class="pb-3 mb-0 lh-125 ">
                  <strong class="d-block text-gray-dark">Subtle Background Image</strong>
                  <%= image_tag "/background/#{@restaurant.subtle_background}.png", class: "img-fluid", width: '200' if @restaurant.subtle_background.present? and @restaurant.subtle_background != 'None'  %>
                </p>
              </div>
            </div>
          </div>



        </div>
      </div>
      <!-- /Styling -->
    </div>
  </div>

  <% end %>




  <div class="row my-3 p-3 bg-white rounded shadow-sm">

    <div class="d-block text-right mt-3">
      <%= link_to("Add Restaurant", new_manager_restaurant_path) unless @restaurant %>
      <%= link_to("Edit Restaurant", edit_manager_restaurant_path(@restaurant)) if @restaurant%>
    </div>
  </div>

</main>