<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to "e-me.nu", manager_home_index_path, class: "navbar-brand" %> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to manager_home_index_path, class: 'nav-link' do %>
          <i class="fa fa-home"></i> Home
        <% end %>
      </li>      


<!--       <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
 -->
<!--       <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
 -->
<!--       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <%= link_to "Cuisines", manager_cuisines_path, class: "dropdown-item"%>
          <%= link_to "Restaurants", manager_restaurants_path, class: "dropdown-item"%>

        </div>
      </li>
      -->
    </ul>
    <ul class="nav justify-content-end">


  <% if current_manager_restaurant_user %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle btn btn-outline-primary btn-sm" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-user-circle"></i> <%=current_manager_restaurant_user.display_name%></a>
    <div class="dropdown-menu dropdown-menu-right">
<!--       <a class="dropdown-item" href="#">xxx zzz</a>
      <a class="dropdown-item" href="#">yyy xxx</a>
      <a class="dropdown-item" href="#">xxx yyy</a> -->
      <div class="dropdown-divider"></div>
      <%= link_to "Log Off", destroy_manager_restaurant_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  </li>
  <% end %>



    </ul>



  </div>
</nav>
