          <div class="row">
            <div class="col bg-info pb-2">
              <%= link_to "Menu by section", table_sectioned_menus_path(@table), class: 'text-dark btn btn-warning btn-sm  mt-2'%>
              <%= link_to "Filter: Allergies", "#", class: 'text-dark btn btn-warning btn-sm  mt-2'%>
              <%= link_to "Filter: Nutrition", "#", class: 'text-dark btn btn-warning btn-sm  mt-2'%>
              <%= link_to "Filter: Vegetarian", "#", class: 'text-dark btn btn-warning btn-sm  mt-2'%>
              <%= link_to "Filter: Main Ingredients", "#", class: 'text-dark btn btn-warning btn-sm mt-2'%>

            </div>
          </div>   