
<% @table.restaurant.menus.roots.each do |category| %>

  <%#= binding.pry %>
  <% if @table.restaurant.active_menu_ids.include?(category.id) %>

    <% 
    if @menu_id.blank?
      @menu_id = category.children.first.id
    end
     %>

    <div class="text-left menu" style='<%= @restaurant.css_font_class if @restaurant.css_font_class.present?  %> <%= @restaurant.custom_styles if @restaurant.custom_styles.present?  %>'> 
     <%= "(Template: #{@template})" if Rails.env == 'development' %>
     
      <div class="sticky-top">
    		<nav class="nav bg-secondary text-light border-warning rounded justify-content-center">
    			<% category.children.each do |cat| %>
            <%= link_to cat.name, table_choice_path(@table, cat.id), class: 'nav-link menu-sub-nav text-light rounded-pill' %>
            <%#= link_to cat.name, "##{cat.name.gsub(' ','')}", class: 'nav-link menu-sub-nav text-light rounded-pill' %>
    		  <% end %>
    		</nav>
      </div>
      <% if category.children.present? %>
        <div id="submenu">
        	<ul class="menu">   
          				<% # TODO: TEMPLATE CHOICE %>       
            <%= render("tables/sectioned_menus/#{@template}/menu_items_section", category: category, table: @table) if @menu_id.present? %>
        	</ul>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>


