<main role="main">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="text-center text-dark">Welcome to <%= @restaurant.name %></h2>
    </div>
  </div>
</main>
<div class="container mb-5">
  <div class="row py-5">
    <% if @restaurant %>
    <div class="col-lg-6">
      <div class="card p-3 mb-5 bg-white rounded">
        <div class="card-body text-center">
          <%= link_to("Restaurant Configuration", manager_restaurant_path(@restaurant), class: "nav-link") %>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card p-3 mb-5 bg-white rounded">
        <div class="card-body text-center">
          <%= link_to("Menu Control", manager_restaurant_menus_path(@restaurant), class: "nav-link") %>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card p-3 mb-5 bg-white rounded">
        <div class="card-body text-center">
          <%= link_to("Table service", manager_live_tables_path(@restaurant), class: "nav-link") %>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card p-3 mb-5 bg-white rounded">
        <div class="card-body text-center">
          <%= link_to("Live Orders", manager_live_orders_path(@restaurant), class: "nav-link") %>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card p-3 mb-5 bg-white rounded">
        <div class="card-body text-center">
          <%= link_to("QR Codes", qr_manager_restaurant_restaurant_tables_path(@restaurant), class: "nav-link") %>
        </div>
      </div>
    </div>
    <% else %>
    <div class="col-lg-6">
      <div class="card p-3 mb-5 bg-white rounded">
        <div class="card-body text-center">
          <%= link_to 'Add Restaurant', new_manager_restaurant_path  %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
