
        <div class="row bg-light-70">
          <div class="col"> 
            <h3>Basket</h3>
          </div>
          <div class="col text-right"> 
            <h3>Items: <%=@basket_item_count%></h3>
          </div>
        </div>
        <div class="row bg-light-70">
          <div class="col">
            <table class='table'>
              <thead>
                <tr>
                  <th></th>
                  <th>Item</th>
                  <th>Extras</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <% @basket['items'].each do |item|%>
                <%
=begin%>
 <%binding.pry%> 
<%
=end%>
                <% note = item['note'] %>
                <tr>
                  <td><%= link_to remove_from_basket_path(@path, item['uuid']), data: { confirm: 'Are you sure?' }  do %><i class="fas fa-minus-circle text-danger"></i><% end %></td>
                  <td><%= item['item'].html_safe  %>
                    <%if note.present?%><br>
                      <strong>Note:</strong> <%= note.html_safe%><% end %></td>
                  <td><%= item['optionals'].join('<br> ').html_safe %></td>
                  <td class='text-right'><%= number_to_currency(item['total'], unit: '£') %></td>
                </tr>
                <% end if @basket %>
                <tr>
                  <td>Total</td>
                  <td></td>
                  <td></td>
                  <td class='text-right'><%= number_to_currency(@basket_item_total, unit: '£') %></td>
                </tr>
              </tbody>
            </table> 
          </div>
        </div>
        <div class="row pb-2 bg-light-70">
          <div class="col"> 
            <%= link_to "CHECKOUT", checkout_path(@path), class: 'btn btn-dark btn-block'%>
          </div>
        </div>


 