<div class="modal fade  modal-fullscreen" id="item-<%=item['id']%>" tabindex="-1" role="dialog" aria-labelledby="<%=item['name']%>" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="<%=item['name']%>"><%=item['name']%></h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class='col-4'><%=image_tag 'item-image-4.jpg', class: "img-fluid"%></div>
          <div class='col'><small><%=item['description']%></small><%= item['custom_lists']%></div>
          <div class='col-2'><%=number_with_precision(item['price_a'], precision: 2)%></div>
        </div>
        <div class="row border-top mt-2 pt-1">
          <div class='col'>
            <div class="accordion bg-dark" id="accordionExample">
              <div class="card  bg-dark">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link text-danger" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Choose Bun
                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <%= radio_button_tag :bun, :bun %> <small>Standard Bun</small><br>
                    <%= radio_button_tag :bun, :bun %> <small>Waffle Bun (£1 extra)</small>
                  </div>
                </div>
              </div>
              <div class="card  bg-dark">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link  text-danger collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Choose Sauce
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <%= check_box_tag :sauce %> Korean Gochujang<br>
                    <small>Sauce Description Sauce Description Sauce Description Sauce Description Sauce Description </small>
                    <br><%= check_box_tag :sauce %> Buffalo<br>
                    <small>Sauce Description Sauce Description Sauce Description Sauce Description Sauce Description </small>
                    <br><%= check_box_tag :sauce %> Yuzo pepper		<br>
                    <small>Sauce Description Sauce Description Sauce Description Sauce Description Sauce Description </small>
                    <br><%= check_box_tag :sauce %> Garlic parmesan		<br>
                    <small>Sauce Description Sauce Description Sauce Description Sauce Description Sauce Description </small>
                    <br><%= check_box_tag :sauce %> Minted feta		<br>
                    <small>Sauce Description Sauce Description Sauce Description Sauce Description Sauce Description </small>
                    <br><%= check_box_tag :sauce %> Hot sauce		<br>
                    <small>Sauce Description Sauce Description Sauce Description Sauce Description Sauce Description </small>
                    <br><%= check_box_tag :sauce %> Bang bang		<br>
                    <small>Sauce Description Sauce Description Sauce Description Sauce Description Sauce Description </small>
                    <br><%= check_box_tag :sauce %> Creamy coriander lime		<br>
                    <small>Sauce Description Sauce Description Sauce Description Sauce Description Sauce Description </small>
                    <br><%= check_box_tag :sauce %> Chimmichurri		<br>
                    <small>Sauce Description Sauce Description Sauce Description Sauce Description Sauce Description </small>
                    <br><%= check_box_tag :sauce %> Bbq		<br>
                    <small>Sauce Description Sauce Description Sauce Description Sauce Description Sauce Description </small>
                    <br><%= check_box_tag :sauce %> Japanese Curry		<br>
                    <small>Sauce Description Sauce Description Sauce Description Sauce Description Sauce Description </small>
                    <br><%= check_box_tag :sauce %> Teriyaki		<br>
                    <small>Sauce Description Sauce Description Sauce Description Sauce Description Sauce Description </small>
                    <br><%= check_box_tag :sauce %> Comeback sauce	<br>
                    <small>Sauce Description Sauce Description Sauce Description Sauce Description Sauce Description </small>
                    <br><%= check_box_tag :sauce %> Urban chilli honey<br>
                    <small>Sauce Description Sauce Description Sauce Description Sauce Description Sauce Description </small>
                  </div>
                </div>
              </div>
              <div class="card  bg-dark">
                <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed  text-danger" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Add Toppings
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-12 col-md-4">
                        <strong>Toppings</strong><br>
                        <%= check_box_tag :abc %> Lettuce<br>
                        <%= check_box_tag :abc %> Beef Tomato<br>
                        <%= check_box_tag :abc %> Caramelised onions<br>
                        <%= check_box_tag :abc %> American Cheese<br>
                        <%= check_box_tag :abc %> Garlic chips<br>
                        <%= check_box_tag :abc %> Olives<br>
                        <%= check_box_tag :abc %> Jalapeños<br>
                        <%= check_box_tag :abc %> Thai Chillies<br>
                        <%= check_box_tag :abc %> Pickles<br>
                        <%= check_box_tag :abc %> Fries<br>
                        <%= check_box_tag :abc %> Mushrooms<br>
                        <%= check_box_tag :abc %> Fried crispy onions<br>
                    </div>
                    <div class="col-sm-12 col-md-4">
                      <strong>Premium Toppings</strong><br>
                      <%= check_box_tag :scd %> Smoked Gouda		£1.00<br>
                      <%= check_box_tag :scd %> Blue Cheese Sauce		£1.00<br>
                      <%= check_box_tag :scd %> Truffle mayo		£1.00<br>
                      <%= check_box_tag :scd %> Cheese sauce		£1.00<br>
                      <%= check_box_tag :scd %> Coleslaw		£1.00<br>
                      <%= check_box_tag :scd %> Fried egg		£1.00<br>
                      <%= check_box_tag :scd %> Halloumi		£1.00<br>
                      <%= check_box_tag :scd %> Guacamole		£1.00<br>
                      <%= check_box_tag :scd %> Cheeky bacon		£1.00<br>
                      <%= check_box_tag :scd %> Monterray jack		£1.00<br>
                      <%= check_box_tag :scd %> Hash brown		£1.00<br>
                      <%= check_box_tag :scd %> Houmous		£1.00<br>
                    </div>
                    <div class="col-sm-12 col-md-4">
                      <strong>Dips</strong><br>
                      <%= check_box_tag :erd %> Sweet chilli<br>
                      <%= check_box_tag :erd %> Ketchup<br>
                      <%= check_box_tag :erd %> House Mayo<br>
                      <%= check_box_tag :erd %> Garlic mayo<br>
                      <%= check_box_tag :erd %> Chipotle mayo<br>
                      <%= check_box_tag :erd %> Bbq<br>
                      <%= check_box_tag :erd %> Sriracha mayo<br>
                      <%= check_box_tag :erd %> Mustard<br>
                      <%= check_box_tag :erd %> Burger Sauce<br>
                      <%= check_box_tag :erd %> Ranch<br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Add to Order</button>
      </div>
    </div>
  </div>
</div>









