<% main_item = item[:id]%>
<% start_price = item[:price_a].to_f %>
<div class="modal fade" id="item-<%=item[:id]%>" tabindex="-1" role="dialog" aria-labelledby="<%=item[:name]%>" aria-hidden="true">
  <div class="modal-dialog" role="document">

  <div class='row'>
    <div class='col-sm-12 col-md-8 col-lg-5 col-xl-4'>

        <div class="modal-content bg-light">
          <div class="modal-header">
            <div class="row">
              <div class='col'><%=image_tag item[:image], class: "img-fluid" if item[:image].present?%></div>
            </div>    
            <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-dark">
            <div class="row">
              <div class='col'>
                <h5 class="modal-title" id="<%=item[:name]%>"><%=item[:name]%></h5>
              </div>
            </div>      
            <div class="row pt-2">
              <div class='col'><small><%=item[:description]%></small></div>
            </div>
            <div class="row border-top mt-2 pt-1">
              <div class='col'>
                <% custom_lists = []#item[:custom_lists]%>
                <% item[:custom_lists].each do |l|%>
                  <% custom_lists << custom_list_object(l[0])%>
                <% end %>
                
                <%#= custom_lists.sort_by(&:constraint) %>

                <%
                
                sort_order=['1', '2', '3', '*']
                lookup = {}
                sort_order.each_with_index do |item, index|
                  lookup[item] = index
                end

                cl = custom_lists.sort_by do |item|
                  lookup.fetch(item.constraint)
                end
                
                
                
                %>
                <% 
                lookup2 = {}
                custom_list_sort_order = cl.map{|a| a.id} 
                custom_list_sort_order.each_with_index do |item, index|
                  lookup2[item] = index
                end
                %>
             
                
                <%
                il = item[:custom_lists].sort_by do |item|
                  lookup2.fetch(item[0].to_i)
                end
                

                %>
       
               <% required_lists = []%>
                <% il.each_with_index do |list, index| %>
                  <div class="row ml-1 ">
                    <div class='col text-danger'>
                    <% custom_list = custom_list_object(list[0])%>
                      <% message = "Please choose #{custom_list.constraint} option" unless custom_list.constraint == '*' %>
                      <% message = "Optional" if custom_list.constraint == '*' %>
                      <strong><%= custom_list.name %>  (<%=message%>)</strong>
                    </div>
                  </div>
   
                 <% list[1].each do |item_id| %>



                    <% cli = custom_list_item(item_id)%>
                    <% if custom_list.constraint == '*' %>
                      <div class="row m-2 p-1 border">
                        <div class='col'>

                          <%= check_box_tag "item-#{cli.id}", "item-#{cli.id}", nil, class: "selection-item selection-item-#{main_item}", 'data-price' => ("%.2f" % cli.price).to_f, 'data-start_price' => start_price, 'data-scope' => main_item,'data-constraint' => custom_list.constraint, 'data-id' => cli.id  %> <small><%=cli.name%></small>
                        </div>
                        <div class='col-4 text-right'>
                          <small><%=number_to_currency(cli.price, unit: '+£') if cli.price.to_f > 0.0 %></small>
                        </div>
                      </div>
                    <% else %>
                      <div class="row m-2 p-1 border">
                        <div class='col'>
                          <% required_lists << custom_list.id%>
                          <%= radio_button_tag "item-#{custom_list.id}", "item-#{custom_list.id}", nil, 'data-price' => ("%.2f" % cli.price).to_f ,class: "selection-item selection-item-radio-#{main_item}  selection-item-required-#{custom_list.id}", 'data-scope' => main_item, 'data-constraint' => custom_list.constraint, 'data-start_price' => start_price, 'data-id' => cli.id %> <small><%=cli.name%></small>
                        </div>
                      <div class='col-4 text-right'>
                          <small><%=number_to_currency(cli.price, unit: '+£') if cli.price.to_f > 0.0 %></small>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
                <input type='hidden' value='<%=required_lists.uniq.join(',')%>' id='required-lists'>
              </div>
            </div>
            <div id='required-message-<%= main_item%>'><strong>Please choose the required options before you can add the item to the basket</strong></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <%= link_to add_to_basket_path(@path, main_item), class: "btn btn-primary disabled", id: "add-to-basket-#{main_item}" do %>
                Add to Order - <span class='button-price-<%=main_item%>'><%=number_to_currency(item[:price_a], unit: '£')%></span>
            <% end %>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>