<% main_item = item['id']%>
<% start_price = item['price_a'].to_f %>
<div class="modal fade" id="item-<%=item['id']%>" tabindex="-1" role="dialog" aria-labelledby="<%=item['name']%>" aria-hidden="true">
  <div class="modal-dialog" role="document">

  <div class='row'>
    <div class='col-sm-12 col-md-8 col-lg-5 col-xl-4'>

        <div class="modal-content bg-light">
          <div class="modal-header">
            <div class="row">
              <div class='col'><%=image_tag item['image'], class: "img-fluid" if item['image'].present?%></div>
            </div>    
            <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-dark">
            <div class="row">
              <div class='col'>
                <h5 class="modal-title" id="<%=item.name%>"><%=item.name%></h5>
              </div>
            </div>      
            <div class="row pt-2">
              <div class='col'><small><%=item['description']%></small></div>
            </div>
            <div class="row border-top mt-2 pt-1">
              <div class='col'>
                <% item['custom_lists'].each_with_index do |list, index| %>
                  <div class="row ml-1 ">
                    <div class='col text-danger'>
                    <% custom_list = custom_list_object(list[0])%>
                      <strong><%= custom_list.name %></strong>
                    </div>
                  </div>
                 <% list[1].each do |item_id| %>



                    <% cli = custom_list_item(item_id)%>
                    <% if custom_list.constraint == '*' %>
                      <div class="row m-2 p-1 border">
                        <div class='col'>
                          <%= check_box_tag "item-#{cli.id}", "item-#{cli.id}", nil, class: "selection-item selection-item-#{main_item}", 'data-price' => ("%.2f" % cli.price).to_f, 'data-start_price' => start_price, 'data-scope' => main_item, 'data-id' => cli.id  %> <small><%=cli.name%></small>
                        </div>
                        <div class='col-4 text-right'>
                          <small><%=number_to_currency(cli.price, unit: '+£') if cli.price.to_f > 0.0 %></small>
                        </div>
                      </div>
                    <% else %>
                      <div class="row m-2 p-1 border">
                        <div class='col'>
                          <%= radio_button_tag "item-#{custom_list.id}", "item-#{custom_list.id}", nil, 'data-price' => ("%.2f" % cli.price).to_f ,class: "selection-item selection-item-radio-#{main_item}", 'data-scope' => main_item, 'data-start_price' => start_price, 'data-id' => cli.id %> <small><%=cli.name%></small>
                        </div>
                      <div class='col-4 text-right'>
                          <small><%=number_to_currency(cli.price, unit: '+£') if cli.price.to_f > 0.0 %></small>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <%= link_to add_to_basket_path(@path, main_item), class: "btn btn-primary", id: "add-to-basket-#{main_item}" do %>
                Add to Order - <span class='button-price-<%=main_item%>'><%=number_to_currency(item.price_a, unit: '£')%></span>
            <% end %>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>