<div class="container-fluid p-0 m-0 background-color" >  <%# style="background: url('/images/restaurant/thesauce/main-bg2.jpg') no-repeat fixed center;" %>
  <div class='row'>
    <div class='col-sm-12 col-md-12 col-lg-12 col-xl-8'>
      <% menu.each do |m| %>
        <% if  m[:node_type] == 'menu' %>
      <div class="row">
        <div class="col"> 
          <div class="container">
            <div class="row">
              <div class="col text-left mt-1"> 
                
                
                <% if @restaurant.image.attached? %>
                  <%= image_tag @restaurant.image.variant(resize: "200x200"), class: "img-fluid"  %>
                <% end %>                
                
                
              </div>


              <div class="col text-right text-dark"> 
                <div class='row'>
                  <div class='col pt-3'>
                      <h3>
                      <% if is_takeaway_or_delivery?(@restaurant)%>


                        <% 
                          disable_basket_link = true 
                          if @basket_item_count > 0
                            disable_basket_link = false 
                          end
                        %>
          
                        <% unless disable_basket_link %>

                        <%= link_to checkout_path(@path) do %>
                          <i class="fas fa-shopping-basket"></i> <%= number_to_currency(@basket_item_total, unit: '£') %>
                        <% end %>
                        
                       
                      <% end %>
 <% end if @basket %>

                      </h3>
                  </div>
                </div>
              </div> 


              
            </div>
            
            <div class='row'>
              <div class='col-sm-12 col-md-12 col-lg-12 col-xl-12'>
                <div class="row">


                  <% m[:children].each do |section| %>
                    <% if section[:node_type] == 'section' %>
                      <div class="col-sm-12 col-lg-12 text-light p-4"> 
                        <h2 class="text-left section-title"><%= section[:name] %></h2>
                        <div class='row'>
                          <% section[:children].each do |item| %>
                            <%= render 'order/components/item', item: item, secondary_colour: false, no_background: false if section[:node_type] == 'section'  %>
                          <% end  %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      
    <% end %>

    <% end %>


  </div>
          <div class='col-sm-12 col-md-12 col-lg-12 col-xl-4 border'>
            <div class='col-sm-auto' >
              <%= render 'order/components/basket' if is_takeaway_or_delivery?(@restaurant)%>
              </div>
          </div>
</div>

  </div>
