


<div class="container my-3 p-3 bg-white rounded shadow-sm">

<h4>Items</h4>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% custom_list_items.each do |custom_list_item| %>
      <tr>
        <td><%= custom_list_item.name %></td>
        <td><%= custom_list_item.description %></td>
        <td><%= custom_list_item.price %></td>
        <td><%= link_to 'Edit', edit_manager_restaurant_custom_list_custom_list_item_path(restaurant, custom_list, custom_list_item) %></td>
        <td><%= link_to 'Destroy', manager_restaurant_custom_list_custom_list_item_path(restaurant, custom_list, custom_list_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custom List Item', new_manager_restaurant_custom_list_custom_list_item_path(restaurant, custom_list) %>

</div>