<% content_for :js do %>
<script type="text/javascript">
        var SETTINGS = {
            navBarTravelling: false,
            navBarTravelDirection: "",
             navBarTravelDistance: 150
        }

        var colours = {
            0: "#867100",
            1: "#7F4200",
            2: "#99813D",
            3: "#40FEFF",
            4: "#14CC99",
            5: "#00BAFF",
            6: "#0082B2",
            7: "#B25D7A",
            8: "#00FF17",
            9: "#006B49",
            10: "#00B27A",
            11: "#996B3D",
            12: "#CC7014",
            13: "#40FF8C",
            14: "#FF3400",
            15: "#ECBB5E",
            16: "#ECBB0C",
            17: "#B9D912",
            18: "#253A93",
            19: "#125FB9",
        }

        document.documentElement.classList.remove("no-js");
        document.documentElement.classList.add("js");

        // Out advancer buttons
        var pnAdvancerLeft = document.getElementById("pnAdvancerLeft");
        var pnAdvancerRight = document.getElementById("pnAdvancerRight");
        // the indicator
        var pnIndicator = document.getElementById("pnIndicator");

        var pnProductNav = document.getElementById("pnProductNav");
        var pnProductNavContents = document.getElementById("pnProductNavContents");

        pnProductNav.setAttribute("data-overflowing", determineOverflow(pnProductNavContents, pnProductNav));

        // Set the indicator
        moveIndicator(pnProductNav.querySelector("[aria-selected=\"true\"]"), colours[0]);

        // Handle the scroll of the horizontal container
        var last_known_scroll_position = 0;
        var ticking = false;

        function doSomething(scroll_pos) {
            pnProductNav.setAttribute("data-overflowing", determineOverflow(pnProductNavContents, pnProductNav));
        }

        pnProductNav.addEventListener("scroll", function() {
            last_known_scroll_position = window.scrollY;
            if (!ticking) {
                window.requestAnimationFrame(function() {
                    doSomething(last_known_scroll_position);
                    ticking = false;
                });
            }
            ticking = true;
        });


        pnAdvancerLeft.addEventListener("click", function() {
            // If in the middle of a move return
            if (SETTINGS.navBarTravelling === true) {
                return;
            }
            // If we have content overflowing both sides or on the left
            if (determineOverflow(pnProductNavContents, pnProductNav) === "left" || determineOverflow(pnProductNavContents, pnProductNav) === "both") {
                // Find how far this panel has been scrolled
                var availableScrollLeft = pnProductNav.scrollLeft;
                // If the space available is less than two lots of our desired distance, just move the whole amount
                // otherwise, move by the amount in the settings
                if (availableScrollLeft < SETTINGS.navBarTravelDistance * 2) {
                    pnProductNavContents.style.transform = "translateX(" + availableScrollLeft + "px)";
                } else {
                    pnProductNavContents.style.transform = "translateX(" + SETTINGS.navBarTravelDistance + "px)";
                }
                // We do want a transition (this is set in CSS) when moving so remove the class that would prevent that
                pnProductNavContents.classList.remove("pn-ProductNav_Contents-no-transition");
                // Update our settings
                SETTINGS.navBarTravelDirection = "left";
                SETTINGS.navBarTravelling = true;
            }
            // Now update the attribute in the DOM
            pnProductNav.setAttribute("data-overflowing", determineOverflow(pnProductNavContents, pnProductNav));
        });

        pnAdvancerRight.addEventListener("click", function() {
            // If in the middle of a move return
            if (SETTINGS.navBarTravelling === true) {
                return;
            }
            // If we have content overflowing both sides or on the right
            if (determineOverflow(pnProductNavContents, pnProductNav) === "right" || determineOverflow(pnProductNavContents, pnProductNav) === "both") {
                // Get the right edge of the container and content
                var navBarRightEdge = pnProductNavContents.getBoundingClientRect().right;
                var navBarScrollerRightEdge = pnProductNav.getBoundingClientRect().right;
                // Now we know how much space we have available to scroll
                var availableScrollRight = Math.floor(navBarRightEdge - navBarScrollerRightEdge);
                // If the space available is less than two lots of our desired distance, just move the whole amount
                // otherwise, move by the amount in the settings
                if (availableScrollRight < SETTINGS.navBarTravelDistance * 2) {
                    pnProductNavContents.style.transform = "translateX(-" + availableScrollRight + "px)";
                } else {
                    pnProductNavContents.style.transform = "translateX(-" + SETTINGS.navBarTravelDistance + "px)";
                }
                // We do want a transition (this is set in CSS) when moving so remove the class that would prevent that
                pnProductNavContents.classList.remove("pn-ProductNav_Contents-no-transition");
                // Update our settings
                SETTINGS.navBarTravelDirection = "right";
                SETTINGS.navBarTravelling = true;
            }
            // Now update the attribute in the DOM
            pnProductNav.setAttribute("data-overflowing", determineOverflow(pnProductNavContents, pnProductNav));
        });

        pnProductNavContents.addEventListener(
            "transitionend",
            function() {
                // get the value of the transform, apply that to the current scroll position (so get the scroll pos first) and then remove the transform
                var styleOfTransform = window.getComputedStyle(pnProductNavContents, null);
                var tr = styleOfTransform.getPropertyValue("-webkit-transform") || styleOfTransform.getPropertyValue("transform");
                // If there is no transition we want to default to 0 and not null
                var amount = Math.abs(parseInt(tr.split(",")[4]) || 0);
                pnProductNavContents.style.transform = "none";
                pnProductNavContents.classList.add("pn-ProductNav_Contents-no-transition");
                // Now lets set the scroll position
                if (SETTINGS.navBarTravelDirection === "left") {
                    pnProductNav.scrollLeft = pnProductNav.scrollLeft - amount;
                } else {
                    pnProductNav.scrollLeft = pnProductNav.scrollLeft + amount;
                }
                SETTINGS.navBarTravelling = false;
            },
            false
        );

        // Handle setting the currently active link
        pnProductNavContents.addEventListener("click", function(e) {
            var links = [].slice.call(document.querySelectorAll(".pn-ProductNav_Link"));
            links.forEach(function(item) {
                item.setAttribute("aria-selected", "false");
            })
            e.target.setAttribute("aria-selected", "true");
            // Pass the clicked item and it's colour to the move indicator function
            moveIndicator(e.target, colours[links.indexOf(e.target)]);
        });

        // var count = 0;
        function moveIndicator(item, color) {
            var textPosition = item.getBoundingClientRect();
            var container = pnProductNavContents.getBoundingClientRect().left;
            var distance = textPosition.left - container;
             var scroll = pnProductNavContents.scrollLeft;
            pnIndicator.style.transform = "translateX(" + (distance + scroll) + "px) scaleX(" + textPosition.width * 0.01 + ")";
            // count = count += 100;
            // pnIndicator.style.transform = "translateX(" + count + "px)";
            
            if (color) {
                pnIndicator.style.backgroundColor = color;
            }
        }

        function determineOverflow(content, container) {
            var containerMetrics = container.getBoundingClientRect();
            var containerMetricsRight = Math.floor(containerMetrics.right);
            var containerMetricsLeft = Math.floor(containerMetrics.left);
            var contentMetrics = content.getBoundingClientRect();
            var contentMetricsRight = Math.floor(contentMetrics.right);
            var contentMetricsLeft = Math.floor(contentMetrics.left);
             if (containerMetricsLeft > contentMetricsLeft && containerMetricsRight < contentMetricsRight) {
                return "both";
            } else if (contentMetricsLeft < containerMetricsLeft) {
                return "left";
            } else if (contentMetricsRight > containerMetricsRight) {
                return "right";
            } else {
                return "none";
            }
        }

        /**
         * @fileoverview dragscroll - scroll area by dragging
         * @version 0.0.8
         * 
         * @license MIT, see http://github.com/asvd/dragscroll
         * @copyright 2015 asvd <heliosframework@gmail.com> 
         */


        (function (root, factory) {
            if (typeof define === 'function' && define.amd) {
                define(['exports'], factory);
            } else if (typeof exports !== 'undefined') {
                factory(exports);
            } else {
                factory((root.dragscroll = {}));
            }
        }(this, function (exports) {
            var _window = window;
            var _document = document;
            var mousemove = 'mousemove';
            var mouseup = 'mouseup';
            var mousedown = 'mousedown';
            var EventListener = 'EventListener';
            var addEventListener = 'add'+EventListener;
            var removeEventListener = 'remove'+EventListener;
            var newScrollX, newScrollY;

            var dragged = [];
            var reset = function(i, el) {
                for (i = 0; i < dragged.length;) {
                    el = dragged[i++];
                    el = el.container || el;
                    el[removeEventListener](mousedown, el.md, 0);
                    _window[removeEventListener](mouseup, el.mu, 0);
                    _window[removeEventListener](mousemove, el.mm, 0);
                }

                // cloning into array since HTMLCollection is updated dynamically
                dragged = [].slice.call(_document.getElementsByClassName('dragscroll'));
                for (i = 0; i < dragged.length;) {
                    (function(el, lastClientX, lastClientY, pushed, scroller, cont){
                        (cont = el.container || el)[addEventListener](
                            mousedown,
                            cont.md = function(e) {
                                if (!el.hasAttribute('nochilddrag') ||
                                    _document.elementFromPoint(
                                        e.pageX, e.pageY
                                    ) == cont
                                ) {
                                    pushed = 1;
                                    lastClientX = e.clientX;
                                    lastClientY = e.clientY;

                                    e.preventDefault();
                                }
                            }, 0
                        );

                        _window[addEventListener](
                            mouseup, cont.mu = function() {pushed = 0;}, 0
                        );

                        _window[addEventListener](
                            mousemove,
                            cont.mm = function(e) {
                                if (pushed) {
                                    (scroller = el.scroller||el).scrollLeft -=
                                        newScrollX = (- lastClientX + (lastClientX=e.clientX));
                                    scroller.scrollTop -=
                                        newScrollY = (- lastClientY + (lastClientY=e.clientY));
                                    if (el == _document.body) {
                                        (scroller = _document.documentElement).scrollLeft -= newScrollX;
                                        scroller.scrollTop -= newScrollY;
                                    }
                                }
                            }, 0
                        );
                     })(dragged[i++]);
                }
            }

              
            if (_document.readyState == 'complete') {
                reset();
            } else {
                _window[addEventListener]('load', reset, 0);
            }

            exports.reset = reset;
        }));


    </script>
<% end %>






<%
style = "background: url('#{url_for(@restaurant.background_image)}') no-repeat fixed center;" if @restaurant.background_image.attached? and @restaurant.background.blank?
style = "background: url('#{@restaurant.background}') ;" if @restaurant.background.present?
%>




<div class="container-fluid p-0 m-0 background-color" style="<%= style %>" >

    <div class="container">
      <div class="row">
        <div class="col text-left mt-1 mb-3"> 
          <% if @restaurant.image.attached? %>
            <%= image_tag @restaurant.image.variant(resize: "200x200"), class: "img-fluid"  %>
          <% end %>                
        </div>
        <div class="col text-right text-dark"> 
          <div class='row'>
            <div class='col pt-3'>
                <h3>
                <% if is_takeaway_or_delivery?(@restaurant)%>


                        <% 
                          disable_basket_link = true 
                          if @basket_item_count.present? and @basket_item_count > 0
                            disable_basket_link = false 
                          end
                        %>

                 <% unless disable_basket_link %>  
                  <%= link_to checkout_path(@path) do %>
                    <i class="fas fa-shopping-basket"></i> <%= number_to_currency(@basket_item_total, unit: '£') %>
                  <% end if @basket %>
                <% end %>
                
                
                <% end %>
                </h3>
            </div>
          </div>
        </div> 
      </div>
    </div>

      <% 
    menu_id = params[:menu_id].to_i if params[:menu_id]
    menu_id = menu.first[:id] if menu_id.blank? 
  %>

 <div class="container-fluid ">
  <div class='row'>
    <div class='col-sm-12 col-md-12 col-lg-12 col-xl-8 pb-1'>
      <div class="row">
      <% menu_nav = menu.map{|a| {name: a[:name], menu_id: a[:id]}}%>
        <% menu_nav.each do |menu| %>
        <div class="col p-0 m-1 ml-5 mr-5"> 
        <% button_css = menu[:menu_id] == menu_id ? 'btn-outline-dark' : 'btn-dark'%>
          <%= link_to menu[:name], order_menu_path(@restaurant.path, menu[:menu_id]), class: "btn #{button_css} btn-block" %>
        </div>
        <% end %>
      </div>
    </div>
   <div class='col-xl-4 pb-1'>
  </div>
  </div>
</div>







  <div class='row'>
    <div class='col-sm-12 col-md-12 col-lg-12 col-xl-8 pb-4'>

   
      <% menu.select{|w| w[:id] == menu_id }.each do |m| %>
        <% if  m[:node_type] == 'menu' %>
        <div class="row">
          <div class="col"> 
            <div class="container">
            <%   nav_items =  m[:children].map{|a| {name: a[:name], id: a[:id]}} %>
            
            <% 
            if params[:section_id].present?
              current_section = params[:section_id].to_i
            else            
              current_section = nav_items.first[:id] 
            end
            %>

    <!--        <div class='row bg-dark'>
              <div class='col '>
                <div class="scrollmenu">
                  <%# nav_items.each do |nav|%>
                    <%#= link_to nav[:name], order_menu_section_path(@restaurant.path, nav[:id]) %>
                  <%# end %>
                </div>
              </div>
            </div>
-->

       <div class='row bg-dark'>
              <div class='col  bg-dark '>
<div class="pn-ProductNav_Wrapper">
<nav id="pnProductNav" class="pn-ProductNav dragscroll" data-overflowing="both">
<div id="pnProductNavContents" class="pn-ProductNav_Contents pn-ProductNav_Contents-no-transition" style="transform: none;">
                  <% nav_items.each do |nav|%>
                    <% selected = current_section == nav[:id] ? true : false %>
                    <%= link_to nav[:name], order_menu_section_path(@restaurant.path, m[:id], nav[:id]), class: 'pn-ProductNav_Link', 'aria-selected'=>"#{selected}" %>
                  <% end %>

<span id="pnIndicator" class="pn-ProductNav_Indicator" style="transform: translateX(1680.5px) scaleX(1.1829687500000001); background-color: rgb(236, 187, 12);"></span>
</div>
</nav>
<button id="pnAdvancerLeft" class="pn-Advancer pn-Advancer_Left" type="button">
<svg class="pn-Advancer_Icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 1024"><path d="M445.44 38.183L-2.53 512l447.97 473.817 85.857-81.173-409.6-433.23v81.172l409.6-433.23L445.44 38.18z"></path></svg>
</button>
<button id="pnAdvancerRight" class="pn-Advancer pn-Advancer_Right" type="button">
<svg class="pn-Advancer_Icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 1024"><path d="M105.56 985.817L553.53 512 105.56 38.183l-85.857 81.173 409.6 433.23v-81.172l-409.6 433.23 85.856 81.174z"></path></svg>
</button>
</div>

             </div>
            </div>    













            <div class='row'>
              <div class='col-sm-12 col-md-12 col-lg-12 col-xl-12'>
                <div class="row">
                  <% m[:children].select{|a| a[:id] == current_section}.each do |section| %>
                    <% if section[:node_type] == 'section' %>
                      <div class="col-sm-12 col-lg-12 text-light p-4"> 
                        <h2 class="text-left section-title"><%= section[:name] %></h2>
                        <div class='row'>
                          <% section[:children].each do |item| %>
                            <%= render 'order/components/item', item: item, secondary_colour: false, no_background: false if section[:node_type] == 'section'  %>
                          <% end  %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

      
    </div>

    <div class='col-sm-12 col-md-12 col-lg-12 col-xl-4 border'>
      <div class='col-sm-auto' >
        <%= render 'order/components/basket' if is_takeaway_or_delivery?(@restaurant)%>
        </div>
    </div>

  </div>

</div>
