
<div class="container">

<h1>Templates</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Key</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @templates.each do |template| %>
      <tr>
        <td><%= template.name %></td>
        <td><%= template.key %></td>
        <td><%= link_to 'Edit', edit_manager_template_path(template) %></td>
        <td><%= link_to 'Destroy', manager_template_path(template), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Template', new_manager_template_path %>
</div>