<div class="container mt-5 mb-5 ">


<p>
  <strong>Number:</strong>
  <%= @table.number %>
</p>

<p>
  <strong>Code:</strong>
  <code><%= @table.code %></code>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @table.aasm_state %>
</p>


<%= link_to 'Edit', edit_manager_restaurant_table_path(@restaurant, @table) %> |
<%= link_to 'Back', manager_restaurant_tables_path(@restaurant) %>

</div>