
    <main role="main" class="container">


    
      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Restaurant Details</h6>

    <% if @restaurant %>
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Name</strong>
            <%= @restaurant.name %>
          </p>
        </div>
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Cuisine</strong>
            <%= @restaurant.cuisine_name %>
          </p>
        </div>

        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Address</strong>
            <%= @restaurant.address %>, <%= @restaurant.postcode %>
          </p>
        </div>
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Telephone</strong>
            <%= @restaurant.telephone %>
          </p>
        </div>
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Email</strong>
            <%= @restaurant.email %>
          </p>
        </div>
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Social</strong>
            <strong>Facebook: </strong><%= @restaurant.facebook.blank? ?  "Not supplied" : @restaurant.facebook%>, <strong>Twitter: </strong><%= @restaurant.twitter.blank? ?  "Not supplied" : @restaurant.twitter%>
          </p>
        </div>
<!--         <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Opening Times</strong>
            <%= @restaurant.opening_times %>
          </p>
        </div> -->

        <% end %>
        <small class="d-block text-right mt-3">
          <%= link_to("Add Restaurant", new_admin_restaurant_path) unless @restaurant %>
          <%= link_to("Edit Restaurant", edit_admin_restaurant_path(@restaurant)) if @restaurant%>
        </small>
      </div>

</main>