


<div class="container">
  <div class="row ">
    <div class="col">
      <span class="fs-1 pl-lev<%=level%> font-weight-bold"><strong><%=menu.name%> 


<i class="fi flaticon-fish"></i>
<i class="fi flaticon-tofu"></i>
<i class="fi flaticon-chicken-1"></i>
<i class="fi flaticon-cow"></i>
<i class="fi flaticon-sheep-1"></i>
<i class="fi flaticon-shrimp"></i>
<i class="fi flaticon-deer"></i>
<i class="fi flaticon-pig-1"></i>
<i class="fi flaticon-goat"></i>
<i class="fi flaticon-keyboard-key-v"></i>
<i class="fi flaticon-key-h-of-a-keyboard"></i>
<i class="fi flaticon-keyboard-key-k"></i>



      </strong></span>
    </div>
    <div class="col-2">
      <%=Faker::Number.decimal(2)%>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <i><p class="pl-lev<%=level%>"><%=Faker::Food.description%></p></i>
    </div>
     <div class="col-2">
      &nbsp;
    </div>
  </div>
</div>
