<main role="main">
  <div class="jumbotron jumbotron-fluid hero-main-user-background mb-0">
    <div class="container">
      <h2 class="display-2 text-center text-light"><%= t('furniture.start_eating')%></h2>
      <p class=" text-center ">
      </p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row mb-0">
      <div class="col-lg-6 bg-dark text-light text-center pt-3 pb-3">
        <h2><%= t('furniture.enter_table_code')%></h2>
        <%= form_tag home_register_table_path do %>
          <%= text_field_tag :code %><%t('furniture.enter_table_code_submit')%>
          <%= submit_tag t('furniture.enter_table_code_submit'), class: 'btn btn-warning btn-sm mb-1'%>
        <% end %>
      </div>
      <div class="col-lg-6 bg-info text-light mt-0 mb-0 pt-3 pb-3">
        <h2><%= t('furniture.where_to_eat')%></h2>
        <p><%= t('furniture.available_restaurants')%></p>
        <ul>
        <% @restaurants.each do |restaurant| %>
          <li><%= link_to restaurant.name, restaurant_menu_path(restaurant.slug), class: 'text-warning' %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>

