  <div class="row">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
     

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email, 'Please enter your email address' %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', 'aria-describedby'=>'emailHelp', placeholder: 'Email address' %>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <%= f.label :password, 'Enter your password' %>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Password"%>
            </div>
            <div class="row my-5">
              <div class="col-md-8 mx-auto text-center">
                <%= f.submit "Log in", class: 'btn btn-warning' %>
              </div>
            </div>
          <% end %>
          <hr class="my-4">

          <%= render "onboarding/restaurant_users/shared/links" %>


    </div>
  </div>
