<div class="container my-3 p-3 bg-white rounded shadow-sm">

<h1>Custom Lists</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Constraint</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custom_lists.each do |custom_list| %>
      <tr>
        <td><%= custom_list.name %></td>
        <td><%= constraint_to_human custom_list.constraint %></td>
        <td><%= link_to 'Manage Options', manager_restaurant_custom_list_path(@restaurant, custom_list) %></td>
        <td><%= link_to 'Edit List name', edit_manager_restaurant_custom_list_path(@restaurant, custom_list) %></td>
        <td><%= link_to 'Delete List', manager_restaurant_custom_lists_path(@restaurant), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custom List', new_manager_restaurant_custom_list_path(@restaurant) %>
</div>