


<div class="container my-3 p-3 bg-white rounded shadow-sm">

  <div class="row">
    <div class="col">
      <h3>Option Set: <%= @custom_list.name %></h3>
    </div>
  </div>
  <% if @custom_list.required_items %>
    <div class="row">
      <div class="col">
        Required Items 
      </div>
    </div>
  <% end %>
  <% if @custom_list.limit_min %>
    <div class="row">
      <div class="col">
        Minimum: <%= @custom_list.limit_min %> 
      </div>
    </div>
  <% end %>
  <% if @custom_list.limit_count %>
    <div class="row">
      <div class="col">
        Quantity required: <%= @custom_list.limit_count %> 
      </div>
    </div>
  <% end %>
  <% if @custom_list.limit_max %>
    <div class="row">
      <div class="col">
        Maximum: <%= @custom_list.limit_max %> 
      </div>
    </div>
  <% end %>
  <div class="row mt-3">
    <div class="col-12">
      Message to users:
    </div>
    <div class="col-12">
      <blockquote class="blockquote">
        <p class="mb-0">(<%= cl_message_to_human(@custom_list) %>)</p>
      </blockquote>
    </div>
  </div>

  <div class="row">
    <div class="col">
    	<%= render "manager/custom_list_items/index", custom_list_items: @custom_list.custom_list_items, restaurant: @restaurant, custom_list: @custom_list %>
    </div>
  </div>



<%= link_to 'Edit', edit_manager_restaurant_custom_list_path(@restaurant, @custom_list) %> |
<%= link_to 'Back', manager_restaurant_custom_lists_path(@restaurant) %>

</div>