    <div class="nav-scroller bg-white shadow-sm">
      <nav class="nav nav-underline">
        <%= link_to "Dashboard", manager_home_dashboard_path, class: "nav-link" %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Configuration
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <% if current_manager_restaurant_user.restaurant %>
              <%= link_to("Details", manager_restaurant_path(current_manager_restaurant_user.restaurant), class: "nav-link")  %>
              <% else %>
               <%= link_to("Add Restaurant", new_manager_restaurant_path, class: "nav-link")  %>
              <% end %>
              <% if @restaurant.present? && @restaurant.id %> 
                <%= link_to("Menus", manager_restaurant_menus_path(@restaurant), class: "nav-link") %>
                <%= link_to("Custom Lists", manager_restaurant_custom_lists_path(@restaurant), class: "nav-link") %>
                <%= link_to("Tables", manager_restaurant_restaurant_tables_path(@restaurant), class: "nav-link") %>
                <%= link_to("Table QR Codes", qr_manager_restaurant_restaurant_tables_path(@restaurant), class: "nav-link") %>
              <% end %>

              <div class="dropdown-divider"></div>
                <% if @restaurant.present? && @restaurant.id %> 
                  <%= link_to("View Menus", manager_home_menu_path(), class: "nav-link") %>
                <% end %>
          </div>
        </li>

        <% if @restaurant.present? && @restaurant.id.present?  %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Management
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                   <%= link_to("Live Tables", manager_live_tables_path(@restaurant), class: "nav-link") %>
                   <%= link_to("Live Items", manager_live_items_path(@restaurant), class: "nav-link") %>
             
          </div>
        </li>
        <% end %>

          <% if can? :manage, :admin_dropdown%>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administration
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to("Features", manager_features_path(@restaurant), class: "nav-link") if can? :manage, Feature %>
                <%#= link_to("Packages", manager_packages_path(@restaurant), class: "nav-link") %>
          </div>
        </li>
        <% end %>

      </nav>
    </div>





