// alert("Hello")



<% return_string = [] %>

<% @table_item.errors.full_messages.each do |message| %>
	<% return_string << "<li>#{message}</li>" %>
<% end %>


<% if return_string.present? %>
	$("#error_explanation_<%=@menu.id%>").removeClass("d-none");
	$("#error_detail_<%=@menu.id%>").html("<%=escape_javascript(return_string.join("")).html_safe%>");
<% else %>
<%  @price = @table.table_items.reject{|a| a.paid}.map{|e| e.total_price}.inject(:+) || 0%>
	$("#item-<%=@menu.id%>").modal('hide');
	$("#error_explanation_<%=@menu.id%>").removeClass("d-none").addClass("d-none");
	$('input:checked').prop("checked", false);
	$("#error_detail_<%=@menu.id%>").html("");
	$("#current_bill").html("<%=escape_javascript(render partial: 'tables/current_bill')%>");
	$(".current-bill").html("<%=number_to_currency @price, unit: "£"%>");
	$("#customer_for_<%=@menu.id%>").val("");
	$(".pay-button").removeClass('invisible');
	
	$("#flash-message").html('"<%=@menu.name%>" was successfully added to your order.');
	$("#flash-message").removeClass('invisible');
	setTimeout(function(){
		$("#flash-message").addClass('invisible');
	}, 2500);

<% end %>



