
<div class="container-fluid">
  <div class="row">
		<div class="col-lg">
		  <div class="row">
				<div class="col">
        					 
          <div class="row">
            <div class="col bg-info p-2">
              <%= link_to "Long list Menu", table_path(@table), class: 'text-dark btn btn-warning btn-sm'%>
              <%= link_to "Filter: Allergies", "#", class: 'text-dark btn btn-warning btn-sm'%>
              <%= link_to "Filter: Nutrition", "#", class: 'text-dark btn btn-warning btn-sm'%>
              <%= link_to "Filter: Vegetarian", "#", class: 'text-dark btn btn-warning btn-sm'%>
              <%= link_to "Filter: Main Ingredients", "#", class: 'text-dark btn btn-warning btn-sm'%>
            </div>
          </div>  

					<%=render 'tables/sectioned_menus/menus'%>
				</div>
			</div>
    </div>

    <% if feature_match(:ordering,  @table.restaurant_features) %>
    <div class="col-lg-4 right-hand-column bg-secondary position-sticky" id="current_bill">
    	<%= render "current_bill" %>
    </div>
    <% end %>

  </div>
</div>





