


<div class="container mt-4 mb-5">


  <div class="row">
		<div class="col-lg-8">
			<%=render 'tables/menus'%>
    </div>

    <div class="col-lg-4 right-hand-column ">


				<div class="row bg-secondary text-white pt-3 pb-3">
					<div class="col text-center">
			
			
					</div>
				</div>
    	  
				<div class="row bg-secondary text-white pt-3 pb-3">
					<div class="col text-center">
						<span>Current Bill </span><br>
						<span class="current-bill">

							<% price = @table.table_items.reject{|a| a.paid}.map{|e| e.price_a}.inject(:+) || 0 %>
							<%=number_to_currency price, unit: "£"%>
								

							</span>
					</div>
				</div>
    	  
				<div class="row bg-secondary pt-3 pb-3">
					<div class="col">

						<ul class="list-group">
							
							<% @table.table_items.order(:created_at).each do |item| %>
						  <li class="list-group-item d-flex justify-content-between align-items-center rhc-item  <%=item.paid ? "item-paid" : "" %>">
						  
							  <div class="container">
							  	<div class="row">
							  		<div class="col-sm-6"><%= item.name%></div>
							  		<div class="col-sm-4 text-right"><%= item.for%></div>
							  		<div class="col-sm-2 text-right"><%=number_to_currency item.price_a, unit: "£"%></div>
							  	</div>
							  </div>

						  </li>
						  <% end %>
						</ul>

					</div>
				</div>
    	  

    	  <div class="row  pt-1 pb-3  bg-secondary">
					<div class="col text-center">
			      <%= link_to "PAY BILL", table_pay_path(@table), method: :get, class: 'btn btn-warning btn-lg btn-block'%>
					</div>
				</div>


    	  <div class="row border pt-3 pb-3">
					<div class="col">
			      <p class=" text-center"><strong>Table Details:</strong></p>
						<ul class="list-group">
						  <li>
						    Restaurant: <%= @table.restaurant_name %>
						  </li>
						  <li class="">
						    Table Number: <%= @table.restaurant_table_number %>
						  </li>
						  <li class="">
						    Table Code: <%= @table.restaurant_table_code %>
						  </li>
						  <li class="">
						    Table Password: <%= @table.password %>
						    <!-- <span class="badge badge-primary badge-pill">2</span> -->
						  </li>
						</ul>
					</div>
				</div>



<!-- 				<div class="row bg-warning pt-3 pb-3">
					<div class="col">
						<h6 class="text-center"><strong>Debug:</strong></h6>
						Cookies:<br>
						restaurant_table_id: <%=cookies[:restaurant_table_id]%><br>
						table_id: <%=cookies[:table_id]%>
					</div>
				</div> -->



    </div>
  </div>


</div>





<%#= link_to 'Edit', edit_table_path(@table) %> |
<%#= link_to 'Back', tables_path %>
