
  <div class="row">
    <div class="col-6 mx-auto">
     


        <h2>Forgot your password?</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>

          <div class="row my-5">
            <div class="col-md-8 mx-auto text-center">
              <%= f.submit "Reset", class: 'btn btn-warning' %>
            </div>
          </div>
        <% end %>


        <%= render "onboarding/restaurant_users/shared/links" %>


    </div>
  </div>
</div>

