<nav id="sidebar" class="navbar-dark bg-dark">
  <div class="d-flex flex-column h-100">
    <button class="navbar-toggler border-0" type="button" id="dismiss">
      <svg xmlns="http://www.w3.org/2000/svg" width="22.243" height="22.243" viewBox="0 0 22.243 22.243">
        <g id="Hamburger" transform="translate(2.121 2.121)">
          <line id="Line_1" data-name="Line 1" y1="18" x2="18" fill="none" stroke="var(--primary)" stroke-linecap="round" stroke-width="3"/>
          <line id="Line_3" data-name="Line 3" x2="18" y2="18" fill="none" stroke="var(--primary)" stroke-linecap="round" stroke-width="3"/>
        </g>
      </svg>
    </button>

    <ul class="list-unstyled components">
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <%= link_to "Find Restaurant", root_path %>
          </li>
          <% if @restaurant %>
            <li>
              <%= link_to @restaurant.name, restaurant_path_path(@restaurant.path) %>
            </li>
          <% end %>
        </ul>
      </li>
      <li>
        <a href="#">About</a>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <li>
      <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
      </li>
      <% if patron_signed_in? %>
        <li>
          <%= link_to "Manage preferences", edit_patron_registration_path %>
        </li>
        <li>
          <%= link_to "Edit settings",  settings_patrons_path %>
        </li>
        <li>
          <%= link_to "Signout", destroy_patron_session_path, method: :delete %>
        </li>
      <% end %>
    </ul>

    <div class="sidebar-footer mt-auto">
      <div class="d-flex justify-content-between">
        <div class="p-1 d-flex flex-column">
          <div class="px-1 py-0">Powered by</div>
          <div class="px-1 py-0"><%= image_tag("logo/Logo__icon_v1.0.0-dark-bkg.svg", height: '15', width: 'auto') %></div>
        </div>
        <a href="#" class="p-1 mt-auto d-none">Privacy Policy</a>
      </div>
    </div>
  </div>
</nav>