


<div id="flash-message" class="invisible alert alert-success border border-success">
  <span>You have successfully logged out!</span>
</div>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to image_tag("logo-e-menu-light.png", class: "logo"), root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to home_index_path, class: 'nav-link' do %>
          <i class="fa fa-home"></i> <%= t('topnav.home')%>
        <% end %>
      </li>      
    </ul>
      


    <% if @table.present? %>

      <% if feature_match(:ordering,  @table.restaurant_features) %>


        <ul class="navbar-nav ml-auto">
          <span class="text-light mt-1 mr-3">
            <%= t('payment.current_bill') %>:
          </span>
          <span class=" current-bill text-light mt-1 mr-3">
            <%=number_to_currency @price, unit: "£"%>
          </span>
          <li class="nav-item">       
            <% price_css =  "invisible" if @price == 0 %>
                <% if feature_match(:payment,  @table.restaurant_features) %>

                  <%= link_to(t('payment.pay_button'), table_pay_path(@table), disabled: :disabled, method: :get, class: "btn btn-warning btn-sm btn-block pay-button #{price_css}")  %>
                <% end %>
          </li>      
        </ul>

      <% end %>
    <% end %>


  </div>
</nav>
