        <% if sub.node_type == 'item' %>
          <!-- Modal -->
          <div class="modal fade" id="item-<%=sub.id%>" tabindex="-1" role="dialog" aria-labelledby="item-<%=sub.id%>-label" aria-hidden="true">
            <div class="modal-dialog  modal-lg" role="document">
              <%#= form_tag table_add_item_path(table.id,sub.id), remote: true do %>
              <div class="modal-content">
                <div class="modal-header">
                  <div class="container modal-title" id="item-<%=sub.id%>-label">
                    <div class="row">
                      <div class="col text-left ">
                        <span class="<%= sub.node_type != "item" ? "font-weight-bold" : ""%>"><%=sub.name%> 
                          <% sub.menu_item_categorisation.each do |category| %>
                            <i class="<%= category.icon %>"></i>
                          <% end %>
                        </span>
                      </div>
                      <div class="col">
                        <%= sub.prices_joined.map{|a| number_to_currency(a, unit: "£")}.join(" / ") if sub.prices_joined%>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-left">
                <!-- Content body  -->
                <div  id="error_explanation_<%=sub.id%>" class="row d-none">
                  <div class="col">
                     <div class="alert alert-danger">
                      <h5><%= t('menu.error.title')%></h5>
                      <ul class="error_detail" id="error_detail_<%=sub.id%>">
                        <li>Option: </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion border" id="accordionExample-<%=sub.id%>">
                  <div class="card">
                    <div class="card-header" id="headingOne-<%=sub.id%>">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne-<%=sub.id%>" aria-expanded="true" aria-controls="collapseOne-<%=sub.id%>">
                          <%= t('menu.description')%>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseOne-<%=sub.id%>" class="collapse show" aria-labelledby="headingOne-<%=sub.id%>" data-parent="#accordionExample-<%=sub.id%>">
                      <div class="card-body">
                        <div class="container">
                          <div class="row">
                            <% if feature_match(:images, sub.restaurant_features) %>
                            <div class="col-lg-3">
                              <%= image_tag sub.image.variant(resize: "200x200"), class: "img-fluid" if sub.image.attached? %>
                            </div>
                            <% end %>    
    
                            <div class="col">
                              <div class="menu-description ml-3"><%=sub.description%></div>
                              <div class="menu-description ml-3">
                                <%=custom_list_options(sub.custom_lists).html_safe%>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <%#= sub.inspect%>

<%= render('restaurant/menu/modal_components/nutrition', sub: sub) if feature_match(:nutrition, sub.restaurant_features)%>
<%= render('restaurant/menu/modal_components/provenance', sub: sub) if feature_match(:provenance, sub.restaurant_features)%>

              

                </div>               
                <!-- /Content Body  -->
                </div>
                <div class="modal-footer">
                  <div class="container">
                  <div class="row">
                    <div class="col-lg-9">


                    </div>
                    <div class="col-lg-3">
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <%# end %>
            </div>
          </div>
        <% end %>