<% content_for :hero do %>
<div class="jumbotron jumbotron-fluid hero-main-user-background mb-0">
  <div class="container text-light text-center">
    <div class="row mb-0">
      <div class="col-lg-12 pt-3 pb-3">
        <h1 class="display-2">Edit your account</h1>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="row">
  <div class="col-md-6 offset-md-3 text-center py-5">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "patrons/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder=>"Email address", :class => "w-100 p-1 mb-2 rounded" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>


    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", :placeholder=>"Password (#{ @minimum_password_length } characters minimum)", :class => "w-100 p-1 mb-2 rounded" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder=>"Password confirmation", :class => "w-100 p-1 mb-2 rounded" %>
    </div>
    <div class="field">
      <%= f.password_field :current_password, autocomplete: "current-password", :placeholder=>"Input your current password", :class => "w-100 p-1 mt-5 mb-2 rounded" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", :class => "w-100 p-1" %>
    </div>
    <% end %>

    <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class=>"mt-5" %></p>
  </div>
</div>