<div class="container-fluid mt-5 mb-2">
  <div class="row m-2">


        <% @restaurant_tables.each do |restaurant_table| %>
          <% restaurant_table.tables_live.each do |table|%>
            <% if table.has_live_items? %>
              <div class=" col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Table Number: <%=table.restaurant_table_number%></h5>               
                  <p class="card-text">
                    <ul class="list-group">
                      <% table.live_items.order(:created_at).each do |item| %>
                        <li class="list-group-item">
                            <div class="row">
                              <div class="col"><%= item.name%></div>
                              <div class='col text-right'><%= item.aasm_state %></div>
                            </div>
                            <% item.custom_lists.keys.each do |list_id| %>
                              <% begin %>
                              <% custom_list = CustomList.find(list_id) %>
                                <% item.custom_lists[list_id].each do |list_item_id| %>
                                  <% list_item = CustomListItem.find(list_item_id) %>
                                  <div class="row">
                                    <div class="col">- <%= "#{custom_list.name}: #{list_item.name}" %></div>
                                  </div>
                                <% end %>
                              <% rescue
                              end%>
                            <% end %>
                            <%=%>
                            <%= link_to "Service",manager_live_service_path(table.restaurant.id, item.id), class: 'btn btn-warning mt-3', data: { confirm: 'Are you sure?' } if item.aasm_state=='ordered' %>
                            <%= link_to "Ready?",manager_live_ready_path(table.restaurant.id, item.id), class: 'btn btn-warning mt-3', data: { confirm: 'Are you sure?' } if item.aasm_state=='paid' %>
                        </li>
                      <% end %>
                    </ul>
                  </p>
                  <!--  -->
                  <!-- <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
              </div>
            <% end %>

          <% end %>
        <% end %>
        





  </div>
</div>

