<% content_for :channels do %>

  <%= javascript_include_tag 'cable'%>

<% end %>

<div class="container-fluid mt-5 mb-2">
  <div class="row m-2">

        <% @restaurant.receipts.where(is_ready: false, source: :takeaway).each do |receipt| %>
         <%#= receipt.inspect%>
           
              <div class=" col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Name: <%=receipt.name%></h5>
                  <h6 class="card-title">Time: <%=receipt.collection_time%></h6>
                  <h6 class="card-title">Type: <%=receipt.delivery_or_collection%></h6>
                 <% if receipt.telephone.present? %>  <h6 class="card-title">Telephone: <%=receipt.telephone%></h6><% end %>
                 <% if receipt.address.present? %> <h6 class="card-title">Address: <%=receipt.address%></h6><% end %>
               
                  <p class="card-text">
                    <ul class="list-group">
                      <% receipt.items['items'].each do |item| %>
                        <li class="list-group-item">
                            <div class="row">
                              <div class="col"><%= item['item'].html_safe%></div>
                            </div>
                            <div class="row">
                              <div class="col"><small><%= item['optionals'].join('<br> ').html_safe%></small></div>
                            </div>
                            
                            
                         </li>
                      <% end %>
                    </ul>
                  </p>
                            <%= link_to "Ready?",receipt_is_ready_path(receipt.id), method: :post, class: 'btn btn-warning mt-3', data: { confirm: 'Are you sure?' } %>
                 <!--  -->
                  <!-- <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
              </div>
            <% end %>

    



  </div>
</div>

