
<h1>Receipts</h1>
<%= paginate @receipts %>
<table class='table'>
  <thead>
    <tr>

      <th>Date</th>
      <th>Name</th>
      <th>Type</th>
      <th>Table Number</th>
      <th>Telephone</th>
      <th>Address</th>
      <th>Time</th>
      <th>Basket total</th>
      <th>Delivery Fee</th>
      <th>Item</th>
      
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @receipts.order(created_at: :desc).each do |receipt| %>
      <tr>
        <td><%= receipt.created_at.in_time_zone('Europe/London').strftime('%Y-%m-%d %H:%M') %></td>
        <td><%= receipt.name %></td>
        <td><%= receipt.delivery_or_collection %></td>
        <td><%= receipt.table_number %></td>
        <td><%= receipt.telephone %></td>
        <td><%= receipt.address if receipt.delivery_or_collection == 'delivery' %></td>
        <td><%= receipt.collection_time %></td>
        <td><%= number_to_currency(receipt.basket_total/100.to_f, unit: '£') %></td>
        <td><%= number_to_currency(receipt.delivery_fee.to_f, unit: '£') %></td>
        
        <%
        items = ""
        receipt.items['items'].each do |item|
        
          options = item['optionals']   
          items << "<li>#{item['item']} <br><strong>Note:</strong> #{item['note']}<br> #{options.join('<br> ')}</li>"
    
        end
        %>
        <td><ul><%= items.html_safe %></ul></td>
   
        <td><%= receipt.email %></td>
        <td><% if receipt.email.present? %><%= link_to 'Send Again', manager_send_receipts_path(receipt.id) %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @receipts %>

