
<h1>Receipts</h1>

<table class='table'>
  <thead>
    <tr>

      <th>Date</th>
      <th>Name</th>
      <th>Collection Time</th>
      <th>Basket total</th>
      <th>Items</th>
      <th>Is ready</th>
    </tr>
  </thead>

  <tbody>
    <% @receipts.order(created_at: :desc).each do |receipt| %>
      <tr>
        <td><%= receipt.created_at %></td>
        <td><%= receipt.name %></td>
        <td><%= receipt.collection_time %></td>
        <td><%= number_to_currency(receipt.basket_total/100, unit: '£') %></td>
        <%
        items = ""
        receipt.items['items'].each do |item|
        
        options = item['optionals']
        
        items << "<li>#{item['item']} options:  #{options.join(', ')}</li>"
        end
        %>
        <td><ul><%= items.html_safe %></ul></td>
        <td><%= receipt.is_ready %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Receipt', new_receipt_path %>
