<div class="container-fluid bg-white rounded shadow-sm">





      <% @restaurant_tables.each do |restaurant_table| %>
<div class="container-fluid  bg-light border  mt-5 mb-2">
<div class="row m-2">
  <div class="col-lg-2 text-center">

    <h1>Table Number<br> <%= restaurant_table.number %></h1>
    <h3>Code: <%= restaurant_table.code %></h3>
    <!-- <div>State: <%= restaurant_table.aasm_state %></div> -->

<%= link_to 'Show', manager_restaurant_restaurant_table_path(@restaurant, restaurant_table) %> | <%= link_to 'Edit', edit_manager_restaurant_restaurant_table_path(@restaurant, restaurant_table) %> | <%= link_to 'Destroy', manager_restaurant_restaurant_table_path(@restaurant, restaurant_table), method: :delete, data: { confirm: 'Are you sure?' } %>

  </div>
  <div class="col">
    
<%#= restaurant_table.tables_live.inspect %>

            <table class="table">
              <thead>
                <tr>
                  <th>Started</th>
                  <th>State</th>
                  <th>Password</th>
                  <th>Current Total</th>
                  <th>Table Total</th>
                </tr>
              </thead>
              <tbody>
                <% restaurant_table.tables_live.each do |table|%>
                <tr class="p-3 mb-2 text-black <%= table.aasm_state == 'finished' ? "active-table" : "bg-warning"%>">
                  <td><%= table.created_at %></td>
                  <td><%= table.aasm_state %></td>
                  <td><%= table.password %></td>
                  <td><%= number_to_currency table.table_items.reject{|a| a.paid}.map{|e| e.price_a}.inject(:+) || 0, unit: "£"%></td>
                  <td><%= number_to_currency table.table_items.map{|e| e.price_a}.inject(:+) || 0, unit: "£"%></td>
                </tr>
                <% end %>
              </tbody>
            </table>




  </div>

  <div class="col-lg-2 qr">
    <div class="text-center border  p-2">
      <%= raw create_qr(restaurant_table.code).as_html %>
    </div>
  </div>

</div>
<div class="row text-center">
  <div class="col border-top p-2">
    <%= "#{ENV["QR_DOMAIN"]}#{"/home/register_table/"}#{restaurant_table.code}" %>
  </div>
</div>
</div>


      <% end %>
  <hr>
  <div class="d-block text-right mt-3">
  <%= link_to 'New Restaurant Table', new_manager_restaurant_restaurant_table_path(@restaurant) %>
  </div>
</div>