<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron jumbotron-fluid hero-main-background">
    <div class="container  text-left">
      <h2 class="display-1 text-white">Your discount codes</h2>
      <p class=" text-center ">

      </p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-lg-1">
        <b>Code</b>
      </div>
      <div class="col-lg-4">
        <b>Type</b>
      </div>
      <div class="col-lg-2">
        <b>Value/Amount</b>
      </div>
      <div class="col-lg-2">
        <b>Expires on</b>
      </div>
      <div class="col-lg-2">
        <b>Used amount</b>
      </div>
    </div>
    <hr />
    <% @discount_codes.each do |dc| %>
    <div class="row">
      <div class="col-lg-1">
        <%= dc.code %>
      </div>
      <div class="col-lg-4">
        <%= dc.type %>
      </div>
      <div class="col-lg-2">
        <%= dc.amount %>
      </div>
      <div class="col-lg-2">
        <%= dc.expiry_date %>
      </div>
      <div class="col-lg-2">
        <%= dc.used_times %>
      </div>
      <div class="col-lg-1">
        <%= link_to "Edit", edit_manager_discount_code_path(dc.restaurant, dc) %>
      </div>
    </div>
    <hr />
    <% end %>
    <div class="row pb-5">
      <div class="col-lg-3">
        <h5><%= link_to "New discount code", new_manager_discount_code_path %></h5>
      </div>
    </div>
  </div> <!-- /container -->

</main>