<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title><%= content_for?(:title) ? yield(:title) : "Restaurant Menus re-defined" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'components/global/topnav' %>
    <%= render 'components/restaurant/navigation' if current_restaurant_user %>

    <%= render 'components/global/messages' %>
    <div class="container-fluid px-0">
      <%= yield %>
      <%= render 'components/global/footer' %>
    </div>
    <%= yield :js %>
  </body>
</html>
