<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title><%= content_for?(:title) ? yield(:title) : "Resturant Menus re-defined" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'components/topnav' %>
    <%= render 'components/messages' %>
    <div class="container-fluid fullwidth">
      <%= yield %>
      <%= render 'components/footer' %>
    </div>
  </body>
</html>
