<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>
    <%= content_for?(:title) ? yield(:title) : "Restaurant Menus re-defined" %>
  </title>

  <%= stylesheet_link_tag "application" %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
  <%= javascript_include_tag "application"%>

  <% if @restaurant.present? and @restaurant.css_font_url.present? %>
  <link href="<%= @restaurant.css_font_url%>" rel="stylesheet" />
  <% end %>

  <style>
    <%=@restaurant.custom_css if @restaurant.present? and @restaurant.custom_css.present? %>
  </style>

  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'components/global/sidebar' %>
  <%= render 'components/global/topbar' %>

  <div class="container-fluid p-0">
    <%#= render 'components/global/environment' %>
    <%#= render 'components/global/topnav' %>
    <%= render "patrons/sessions/new", :locals => { :redirect_after_signup_to => restaurant_path_path(Restaurant.first), :resource => Patron.new } if !patron_signed_in? %>
    <%= render 'components/global/messages' %>
    <%= render 'components/global/hero' %>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <div class="container-fluid">
    <%= render :partial => 'components/global/languages' %>
    <%= render :partial => 'components/global/footer' %>
  </div>

  <%= yield :js %>

  <div class="overlay"></div>
</body>

</html>